{% extends "base.html" %}

{% block title %} Items - Portal Gestão{% endblock %}

{% block content %}

{% load humanize %}

<p class="text-3xl mb-4 font-bold">
  Criar Novo Item de Despesa
</p>

<!-- Breadcrumb -->
<nav class="flex py-3 text-black" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center">
        <a href="{% url 'home' %}" class="inline-flex items-center text-sm font-medium text-black hover:text-gray-500 dark:text-black dark:hover:text-gray-500">
          <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
          </svg>
          Inicio
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="rtl:rotate-180 block w-3 h-3 mx-1 text-black " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <a href="{% url 'contracts:contracts-list' %}" class="ms-1 text-sm font-medium text-black hover:text-gray-500 md:ms-2 dark:text-black dark:hover:text-gray-500">Contratos</a>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="rtl:rotate-180 block w-3 h-3 mx-1 text-black " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <a href="{% url 'contracts:contracts-detail' contract.id %}" class="ms-1 text-sm font-medium text-black hover:text-gray-500 md:ms-2 dark:text-black dark:hover:text-gray-500">{{ contract.trailing_code }}</a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="rtl:rotate-180  w-3 h-3 mx-1 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="ms-1 text-sm font-medium text-black md:ms-2 dark:text-black">Novo Item</span>
        </div>
      </li>
    </ol>
</nav>
  
<form method="post" class="max-w-lg mx-auto">
    {% csrf_token %}

    <label class="block mb-2 text-2xl font-bold text-black">Especificações do Item</label>

    <div class="mb-3">
        <label
            for="id_name"
            class="block mb-2 text-base font-medium text-gray-900 dark:text-black"
        >
            Nome do Item
        </label>
        {{ form.name }}
    </div>

    <div class="mb-3">
        <label
            for="id_objective"
            class="block mb-2 text-base font-medium text-gray-900 dark:text-black"
        >
            Objetivo
        </label> 
        {{ form.objective }}
    </div>

    <div class="mb-3">
      <label
          for="id_methodology"
          class="block mb-2 text-base font-medium text-gray-900 dark:text-black"
      >
          Metodologia
      </label>
      {{ form.methodology }}
    </div>

    <hr class="h-px my-4 border-0 bg-gray-700">

    <label class="block mb-2 text-2xl font-bold text-black">Detalhamento da Despesa</label>

    <div class="mb-3">
      <label
          for="id_nature"
          class="block mb-2 text-base font-medium text-gray-900 dark:text-black"
      >
          Natureza da Despesa
      </label>
      <select
          id="id_nature"
          name="nature"
          class="
            border
            text-sm
            rounded-lg
            block
            w-full p-2.5
            bg-gray-300
            border-gray-600
            text-black
            focus:ring-blue-500
            focus:border-blue-500
          "
          required
      >
        <option selected value="">----</option>
        <optgroup label="Bens e Materiais permanentes">
          <option value="PERMANENT_GOODS_AND_MATERIALS">
            Bens e Materiais permanentes
          </option>
          <option value="COMPUTER_GOODS_AND_EQUIPMENT">
            Bens e equipamentos de informática
          </option>
          <option value="HOSPITAL_GOODS_AND_EQUIPMENT">
            Bens e equipamentos hospitalares
          </option>
        </optgroup>
        
        <optgroup label="Combustível">
          <option value="FUEL">
            Combustível
          </option>
        </optgroup>
        
        <optgroup label="Despesas financeiras e bancárias">
            <option value="BANKING_EXPENSES">
            Despesas bancárias
          </option>
            <option value="BANKING_IOF">
            IOF
          </option>
            <option value="BANKING_IRRF">
            IRRF
          </option>
            <option value="INTEREST">
            Juros
          </option>
        </optgroup>
        
        <optgroup label="Gêneros Alimentícios">
            <option value="FOODSTUFS">
            Gêneros Alimentícios
          </option>
        </optgroup>
        
        <optgroup label="Locação de Imóveis">
            <option value="REAL_ESTATE_LEASE">
            Locação de Imóveis
          </option>
        </optgroup>
        
        <optgroup label="Locações Diversas">
            <option value="AMBULANCES">
            Ambulâncias
          </option>
            <option value="COMPUTER_EQUIPMENT">
            Equipamento de informática
          </option>
            <option value="HOSPITCAL_MEDICAL_EQUIPMENT">
            Equipamento médico hospitalar
          </option>
            <option value="LAUNDRY_LINEN">
            Lavanderia e enxoval
          </option>
            <option value="CAR_LEASE">
            Locação de Carro
          </option>
            <option value="MISCELLANOUS_LEASES">
            Locações Diversas
          </option>
            <option value="SOFTWARE_SYSTEM">
            Sistema de software
          </option>
        </optgroup>
        
        <optgroup label="Material Médico e Hospitalar">
            <option value="MEDICAL_HOSPITAL_SUPPLIES">
            Material Médico e Hospitalar
          </option>
        </optgroup>
        
        <optgroup label="Medicamentos">
            <option value="MEDICINES">
            Medicamentos
          </option>
        </optgroup>
        
        <optgroup label="Obras">
            <option value="WORKS">
            Obras
          </option>
        </optgroup>
        
        <optgroup label="Outras despesas">
            <option value="OTHER_ADMINISTRATIVE_EXPENSES">
            Despesas Administrativas
          </option>
            <option value="RETURN_OF_FUNDS">
            Devolução de Recurso ao Órgão Concedente
          </option>
            <option value="PARKING_DRIVING_TAXI">
            Estacionamento/condução/táxi
          </option>
            <option value="IPTU">
            IPTU
          </option>
            <option value="TAXES_FEES_CONTRIBUTIONS">
            Impostos, Taxas e Contribuições
          </option>
            <option value="OTHER_EXPENSES">
            Outras despesas - Diversos
          </option>
            <option value="INSURANCE">
            Seguros
          </option>
            <option value="TRAVEL_TICKET_STAY">
            Viagens (passagem, hospedagem)
          </option>
        </optgroup>
        
        <optgroup label="Outros Materiais de Consumo">
            <option value="COOKING_GAS">
            Gás de Cozinha
          </option>
            <option value="COMPUTER_SUPPLIES">
            Materiais de Informática
          </option>
            <option value="MATERIALS_FOR_SMALL_REPAIRS">
            Materiais para Pequenos Reparos
          </option>
            <option value="EDUCATIONAL_MATERIAL">
            Material Pedagógico
          </option>
            <option value="HYGIENE_CLEANING_SUPPLIES_UNIFORMS">
            Material de Higiene/Limpeza/Uniformes
          </option>
            <option value="SPORTS_EQUIPMENTS">
            Material esportivo
          </option>
            <option value="UTENSILS">
            Utensílios
          </option>
            <option value="OFFICE_SUPPLIES_1">
            Materiais de Expediente
          </option>
            <option value="OFFICE_SUPPLIES_2">
            Material de Escritório
          </option>
            <option value="OFFICE_SUPPLIES_3">
            Material de expediente/correio/fotocópias
          </option>
            <option value="OTHER_CONSUMABLES">
            Outros Materiais de Consumo
          </option>
        </optgroup>
        
        <optgroup label="Outros Serviços de Terceiros">
            <option value="COMMON_WASTE_COLLECT">
            Coleta de lixo comum
          </option>
            <option value="HOSPITAL_WASTE_COLLECT">
            Coleta de lixo hospitalar
          </option>
            <option value="CONSULTING_LEGAL_ADVICE">
            Consultoria/assessoria jurídica
          </option>
            <option value="CLEANING_MAINTENANCE">
            Limpeza e conservação
          </option>
            <option value="MAINTENANCE_HOSPITAL_EQUIPMENT">
            Manutenção - Equipamento Médico Hospitalar
          </option>
            <option value="MAINTENANCE_COMPUTER_EQUIPMENT">
            Manutenção - Equipamento de Informática
          </option>
            <option value="MAINTENANCE_BUILDING">
            Manutenção - predial e Imobiliário
          </option>
            <option value="MAINTENANCE_VEHICLE">
            Manutenção de veículos
          </option>
            <option value="CONSTRUCTION">
            Obras
          </option>
            <option value="MAINTENANCE_OTHERS">
            Outras Manutenções
          </option>
            <option value="LEGAL_THIRD_PARTY_SERVICES">
            Outros serviços de terceiros pessoa jurídica
          </option>
            <option value="ADVERTISING_PUBILICITY">
            Publicidade e propaganda
          </option>
            <option value="THERAPEUTIC_SUPPORT_SERVICE">
            Serviço de apoio diagnóstico terapêutico (sadt)
          </option>
            <option value="SERVICES_ACCOUNTING">
            Serviços Contábeis
          </option>
            <option value="SERVICES_AUDITING">
            Serviços de auditoria
          </option>
            <option value="SERVIECS_IT">
            Serviços de tecnologia da informação (TI)
          </option>
            <option value="SERVICES_SURVEILLANCES">
            Vigilância
          </option>
        </optgroup>
        
        <optgroup label="Recursos Humanos">
            <option value="THIRTHEENTH_SALARY">
            13º Salário
          </option>
            <option value="APPRENTICES">
            Aprendizes
          </option>
            <option value="MEDICAL_ASSISTENCE">
            Assistência médica
          </option>
            <option value="ADVANCE_NOTICE">
            Aviso prévio
          </option>
            <option value="BENEFITS">
            Benefícios
          </option>
            <option value="INTERNSHIP_ALLOWANCE">
            Bolsa Auxílio - estagiários
          </option>
            <option value="INSS_CONTRIBUTION_SHARE">
            Contribuição ao INSS - Cota Patronal
          </option>
            <option value="PIS_CONTRIBUTION">
            Contribuição ao PIS
          </option>
            <option value="SOCIAL_CONTRIBUTIONS">
            Contribuições Sociais
          </option>
            <option value="COURSES_TRAINING_RETRAINING">
            Cursos/treinamento/reciclagem
          </option>
            <option value="PERSONNEL_EXPENSES">
            Despesas com Pessoal
          </option>
            <option value="COLLECTIVE_BARGAINING">
            Dissídio coletivo
          </option>
            <option value="SOCIAL_CHARGES">
            Encargos Sociais
          </option>
            <option value="FGTS">
            FGTS
          </option>
            <option value="RESERVE_FUND">
            Fundo de Reserva
          </option>
            <option value="VACATIONS">
            Férias
          </option>
            <option value="BONUSES">
            Gratificações
          </option>
            <option value="HR_INSS">
            INSS
          </option>
            <option value="HR_IRRF">
            IRRF
          </option>
            <option value="COMPENSATIONS">
            Indenizações
          </option>
            <option value="TERMINATION_EMPLOYMENT_CONTRACT">
            Rescisão de Contrato de Trabalho - TRCT
          </option>
            <option value="MISCELLANOUS_WITHHOLDINGS">
            Retenções Diversas
          </option>
            <option value="MANAGEMENT_SALARY">
            Salário diretoria (salários e ordenados)
          </option>
            <option value="SALARIES_AND_WAGES">
            Salários e ordenados (exceto diretoria)
          </option>
            <option value="UNIFORMS">
            Uniformes
          </option>
            <option value="FOOD_VOUCHERS">
            Vale Alimentação
          </option>
            <option value="MEAL_VOUCHERS">
            Vale Refeição
          </option>
            <option value="TRANSPORTATION_VOUCHERS">
            Vale Transporte
          </option>
        </optgroup>
        
        <optgroup label="Recursos Humanos">
            <option value="INTERN_REMUNERATION">
            Remuneração de Estagiários
          </option>
            <option value="SERVICES_PF_THIRD_PARTIES">
            Serviços Prestados por Terceiro - PF
          </option>
            <option value="SERVICES_PJ_THIRD_PARTIES">
            Serviços Prestados por Terceiro - PJ
          </option>
        </optgroup>
        
        <optgroup label="Serviços médicos">
          <option value="MEDICAL_SERVICES">
            Serviços médicos (*)
          <option value="MEDICAL_SERVICES_FOR_INDIVIDUALS">
            Serviços médicos pessoa física
          <option value="MEDICAL_SERVICES_FOR_ENTITIES">
            Serviços médicos pessoa jurídica
        </optgroup>
        
        <optgroup label="Utilidades Públicas">
          <option value="PUBLIC_ADMINISTRATIVE_EXPENSES">
            Despesas Administrativas
          <option value="ELECTRICITY">
            Energia Elétrica
          <option value="INTERNET_TV">
            Internet/TV a cabo
          <option value="TELEPHONE">
            Telefone
          <option value="PUBLIC_UTILITIES">
            Utilidade Publica
          <option value="WATER_SEWAGE">
            Água e Esgoto
        </optgroup>
        
      </select>
    </div>

    <div class="mb-3">
      <label
        for="id_month_quantity"
        class="block mb-2 text-base font-medium text-gray-900 dark:text-black"
      >
        Quantidade de meses
      </label>
      {{ form.month_quantity }}
    </div>

    <div class="mb-3">
        <label for="id_month_expense" class="block mb-2 text-base font-medium text-gray-900 dark:text-black">Gasto Mensal</label>
        <div class="relative w-full">
          <div class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
            <svg class="w-4 h-4 text-gray-900 dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 2a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1M2 5h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Zm8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
            </svg>
          </div>
          <input
            type="text"
            id="id_month_expense"
            name="month_expense"
            oninput="formatMoney(this)"
            placeholder="000,00"
            class="block p-2.5 w-full z-20 ps-10 text-sm text-gray-900 bg-gray-50 rounded-s-lg border-e-gray-50 border-e-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-300 dark:border-e-gray-700  dark:border-gray-600 dark:placeholder-gray-800 dark:text-black dark:focus:border-blue-500"
            required
          />  
        </div>  
        <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">
          Escreva somente os números, sem o R$, seperados por vírgula
        </p>
    </div>

    <div class="mb-3">
      <label
          for="id_unit_type"
          class="block mb-2 text-base font-medium text-gray-900 dark:text-black"
      >
          Unidade
      </label>
      {{ form.unit_type}}
      <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">
        Unidade, KGs, Blocos, Litros, ...
      </p>
    </div>

    <button
        type="submit"
        class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        style="display: flex; justify-self: center;"
    >
        Criar
    </button>
</form>

{% include 'commons/form-errors.html' with form=form %}

<script>
  function formatMoney(input) {
    let value = input.value.replace(/\D/g, "");

    if (!value) {
      input.value = "0"
      return
    }

    value = (parseFloat(value) / 100).toLocaleString("pt-BR", {
      minimumFractionDigits: 2,
      maximumFractionDigits: 2,
    });

    input.value = value;
  }
</script>

{% endblock %}
