{% extends "base.html" %}

{% block title %}Contratos - Portal SITTS{% endblock %}

{% block content %}

{% load humanize %}

<p class="text-3xl mb-4 font-bold">
  Atualizar Status
</p>

<form method="post" class="max-w-lg mx-auto">
    {% csrf_token %}

    <label class="block mb-2 text-2xl font-bold text-black">Mover Status do Contrato</label>

    <div class="mb-3">
        <label for="id_status" class="block mb-2 text-base font-medium text-black">Status Atual</label>
        {{ form.status }}
    </div>

    <button
      type="submit"
      class="
        px-3
        py-2
        text-sm
        font-medium
        text-center
        inline-flex
        items-center
        text-white
        rounded-lg
        focus:ring-4
        focus:outline-none
        bg-blue-600
        hover:bg-blue-700
        focus:ring-blue-800
      "
      style="display: flex; justify-self: center;"
    >
      Criar
    </button>
  
</form>

{% endblock %}