{% load static %}

{% load humanize %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

  <link rel="shortcut icon" type="image/png" href="https://storage.googleapis.com/sitts-project-media-bucket/logos/blue-favicon-32x32.png" >

  <title>Plano de Trabalho - Portal SITTS</title>
  
  <style>
    @media print {
      * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
      }
      body {
        margin: 0;
        padding: 0;
      }
    }
  </style>
</head>

<body class="flex justify-self-center bg-gray-100 m-4 max-w-screen-lg">
  <div class="mx-6 px-4">
    <div class="my-4 text-center">
      <p class="text-xl font-thin">Plano de Trabalho </p>
      <p class="text-2xl font-normal">{{ contract.name }}</[]>

      <p class="pt-1 text-sm font-normal">
        Vigência do Contrato: {{ contract.start_of_vigency|date:'d/m/Y' }} a {{ contract.end_of_vigency|date:'d/m/Y' }}
      </p>
    </div>

    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
      <h2 class="text-xl font-bold mb-4">Dados Cadastrais</h2>
      <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
          <p class="font-semibold">Contratado</p>
          <p>{{ contract.hired_company.name }}</p>
        </div>
        <div>
          <p class="font-semibold">CNPJ</p>
          <p>{{ contract.hired_company.masked_cnpj }}</p>
        </div>
      </div>
      <p class="font-semibold mt-2">Endereço</p>
      <p>{{ contract.hired_company.full_address }}</p>
    </div>

    <!-- Descrição do Plano de Trabalho -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
      <h2 class="text-xl font-bold mb-4">Descrição do Plano de Trabalho</h2>
      <div class="grid grid-cols-3 gap-4">
          <div class="col-span-2">
            <p class="font-semibold">Nome</p>
              <p>{{ contract.name }}</p>
              <p class="font-semibold mt-2">Objeto</p>
              <p>{{ contract.objective }}</p>
          </div>
          <div>
              <p class="font-semibold">Vigência do Contrato</p>
              <p>{{ contract.start_of_vigency|date:'d/m/Y' }} a {{ contract.end_of_vigency|date:'d/m/Y' }}</p>
          </div>
      </div>
    </div>

    <!-- Equipe do Projeto -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
      <h2 class="text-xl font-bold mb-4">Equipe do Projeto</h2>
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-blue-100">
          <tr>
            <th class="py-3 px-6">Nome</th>
            <th class="py-3 px-6">Perfil</th>
            <th class="py-3 px-6">Telefone</th>
            <th class="py-3 px-6">Email</th>
          </tr>
        </thead>
        <tbody>
          {% for interested in contract.interested_parts.all %}
            <tr class="{% cycle 'bg-white' 'bg-gray-100' %} border-b">
              <td class="py-4 px-6">{{ interested.user.get_full_name }}</td>
              <td class="py-4 px-6">{{ interested.interest_label }}</td>
              <td class="py-4 px-6">{{ interested.user.masked_phone }}</td>
              <td class="py-4 px-6">{{ interested.user.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Cronograma Físico -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
      <h2 class="text-xl font-bold mb-4">Cronograma Físico</h2>
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-blue-100">
          <tr>
            <th class="py-3 px-6">Meta</th>
            <th class="py-3 px-6">Objetivo</th>
            <th class="py-3 px-6">Metodologia</th>
            <th class="py-3 px-6">Início</th>
            <th class="py-3 px-6">Término</th>
          </tr>
        </thead>
        <tbody>
          {% for goal in contract.goals.all %}
            <tr class="bg-gray-100 border-b">
              <td class="py-4 px-6">Meta: {{ goal.name }}</td>
              <td class="py-4 px-6">{{ goal.objective }}</td>
              <td class="py-4 px-6">{{ goal.methodology }}</td>
              <td class="py-4 px-6">{{ contract.start_of_vigency|date:'d/m/Y' }}</td>
              <td class="py-4 px-6">{{ contract.end_of_vigency|date:'d/m/Y' }}</td>
            </tr>

            {% for step in goal.steps.all %}
              <tr class="bg-white border-b">
                <td colspan="5" class="px-6 py-4 ml-4 text-sm text-black text-left">
                  <div class="grid grid-cols-4 gap-4 pb-3">
                    <p><strong>Etapa:</strong> {{ step.name }}</p>
                    <p><strong>Objetivo:</strong> {{ step.objective }}</p>
                    <p><strong>Metodologia:</strong> {{ step.methodology }}</p>
                    <p><strong>Recursos:</strong> {{ step.resources }}</p>
                  </div>
                </td>
              </tr>
            {% endfor%}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Fontes de Recurso -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
      <h2 class="text-xl font-bold mb-4">Fontes de Recurso</h2>
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-blue-100">
          <tr>
            <th class="py-3 px-6">Fonte de Recurso</th>
            <th class="py-3 px-6">Tipo</th>
            <th class="py-3 px-6">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b">
            <td class="py-4 px-6">
              {{ contract.area.city_hall.name }}
            </td>
            <td class="py-4 px-6">Municipal</td>
            <td class="py-4 px-6">R${{ contract.municipal_value|intcomma }}</td>
          </tr>
          <tr class="bg-gray-100 border-b">
            <td class="py-4 px-6">
              {{ contract.hired_company.name }}
            </td>
            <td class="py-4 px-6">Contrapartida Entidade Parceira</td>
            <td class="py-4 px-6">R${{ contract.counterpart_value|intcomma }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Plano de Aplicação -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
      <h2 class="text-xl font-bold mb-4">
        Plano de Aplicação
      </h2>
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-blue-100">
          <tr>
            <th class="py-3 px-6">Bem/Serviço</th>
            <th class="py-3 px-6">Natureza de Despesa</th>
            <th class="py-3 px-6">Qtd</th>
            <th class="py-3 px-6">Custo Unitário</th>
            <th class="py-3 px-6">Custo Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in contract.items.all %}
            <tr class="{% cycle 'bg-white' 'bg-gray-100' %} border-b">
              <td class="py-4 px-6" rowspan="2">{{ item.name }}</td>
              <td class="py-4 px-6">{{ item.nature_label }}</td>
              <td class="py-4 px-6 whitespace-nowrap">
                {{ item.quantity }} {{ item.unit_type|default_if_none:"" }}
              </td>
              <td class="py-4 px-6">R${{ item.month_expense|intcomma }}</td>
              <td class="py-4 px-6">R${{ item.anual_expense|intcomma }}</td>
            </tr>
            <tr class="bg-blue-200  border-b">
              <td class="py-2 px-6" colspan="3">
                <span class="py-1">
                  Fonte de Recurso: <b>{{ item.source_label }}</b>
                </span>
              </td>
              <td class="py-2 px-6">R${{ item.anual_expense|intcomma }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Natureza das Despesas -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
      <h2 class="text-xl font-bold mb-4">
        Natureza das Aplicações
      </h2>
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-blue-100">
          <tr>
            <th class="py-3 px-6" style="width: 80%;">Natureza da Despesa</th>
            <th class="py-3 px-6">Custo Total</th>
          </tr>
        </thead>
        <tbody>
          {% for nature, data in groupped_natures.items %}
            <tr class="bg-gray-100 border-b">
              <td class="py-4 px-6 font-semibold">{{ nature }}</td>
              <td class="py-4 px-6 font-semibold">R${{ data.total|intcomma }}</td>
            </tr>
 
            {% for subnature, value in data.items %}
              {% if subnature != 'total' %}
                <tr class="text-sm bg-white border-b">
                  <td class="py-3 px-6 pl-10">
                    - {{ subnature }}
                  </td>
                  <td class="py-3 px-6">
                    R${{ value|intcomma }}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}

          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Cronograma de Repasses -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
      <h2 class="text-xl font-bold mb-4">
        Cronograma de Repasses
      </h2>
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 text-center uppercase bg-blue-100">
          <tr>
            <th class="py-3 px-6">Mês</th>
            <th class="py-3 px-6">Repasse do Município</th>
            <th class="py-3 px-6">Repasse da Contrapartida</th>
            <th class="py-3 px-6">Repasse Total</th>
          </tr>
        </thead>
        <tbody>
          {% for data in transfers %}
            <tr class="{% cycle 'bg-white' 'bg-gray-100' %} text-center border-b">              <td class="py-4 px-6 font-semibold">{{ data.month }}</td>
              <td class="py-4 px-6 font-semibold">R${{ data.city_hall|intcomma }}</td>
              <td class="py-4 px-6 font-semibold">R${{ data.counterpart|intcomma }}</td>
              <td class="py-4 px-6 font-semibold">R${{ data.total|intcomma }}</td>
            </tr>
 
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="fixed bottom-6 start-6 group print:hidden">
      <a
        href="{% url 'contracts:contracts-detail' contract.id %}"
        class="
          inline-flex
          items-center
          px-5
          py-2.5
          mt-6
          text-sm
          font-medium
          text-center
          text-white
          rounded-lg
          focus:ring-4
          focus:outline-none
          bg-blue-600
          hover:bg-blue-700
          focus:ring-blue-800
        "
      >
        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
        </svg>
        Voltar
      </a>
    </div>

    <div data-dial-init class="fixed end-6 bottom-6 group print:hidden">
      <div id="speed-dial-menu-default" class="flex flex-col items-center hidden mb-4 space-y-2">
        <button
          type="button"
          data-tooltip-target="tooltip-share"
          data-tooltip-placement="left"
          onclick="navigator.clipboard.writeText(window.location.href)"
          class="
            flex
            justify-center
            items-center
            w-[52px]
            h-[52px]
            text-gray-500
            hover:text-gray-900
            bg-white
            rounded-full
            border
            border-gray-200
            shadow-xs
            hover:bg-gray-50
            focus:ring-4
            focus:ring-gray-300
            focus:outline-none
          "
        >
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
            <path d="M14.419 10.581a3.564 3.564 0 0 0-2.574 1.1l-4.756-2.49a3.54 3.54 0 0 0 .072-.71 3.55 3.55 0 0 0-.043-.428L11.67 6.1a3.56 3.56 0 1 0-.831-2.265c.006.143.02.286.043.428L6.33 6.218a3.573 3.573 0 1 0-.175 4.743l4.756 2.491a3.58 3.58 0 1 0 3.508-2.871Z"/>
          </svg>
          <span class="sr-only">Compartilhar</span>
        </button>
        <div
          id="tooltip-share"
          role="tooltip"
          class="
            absolute
            z-10
            invisible
            inline-block
            w-auto
            px-3
            py-2
            text-sm
            font-medium
            text-white
            transition-opacity
            duration-300
            bg-gray-900
            rounded-lg
            shadow-xs
            opacity-0
            tooltip
          "
        >
          Compartilhar
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>

        <button
          type="button"
          data-tooltip-target="tooltip-print"
          data-tooltip-placement="left"
          onclick="window.print()"
          class="
            flex
            justify-center
            items-center
            w-[52px]
            h-[52px]
            text-gray-500
            hover:text-gray-900
            bg-white
            rounded-full
            border
            border-gray-200
            shadow-xs
            hover:bg-gray-50
            focus:ring-4
            focus:ring-gray-300
            focus:outline-none
          "
        >
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M5 20h10a1 1 0 0 0 1-1v-5H4v5a1 1 0 0 0 1 1Z"/>
              <path d="M18 7H2a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2v-3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2Zm-1-2V2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v3h14Z"/>
          </svg>
          <span class="sr-only">Imprimir</span>
        </button>
        <div id="tooltip-print" role="tooltip" class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip">
          Imprimir
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </div>

      <button
        type="button"
        data-dial-toggle="speed-dial-menu-default"
        aria-controls="speed-dial-menu-default"
        aria-expanded="false"
        class="flex items-center justify-center text-white bg-blue-700 rounded-full w-14 h-14 hover:bg-blue-800 focus:ring-4 focus:ring-blue-700 focus:outline-none"
      >
          <svg
            class="w-5 h-5 transition-transform group-hover:rotate-45"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 18"
          >
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
          <span class="sr-only">Ações</span>
      </button>
    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

</html>