DEVELOPMENT=true
DEBUG=true
SECRET_KEY=change-me

DB_NAME=sitts
DB_USER=sitts
DB_PASSWORD=sitts
DB_HOST=db
DB_PORT=5432

STATIC_URL=/static/
GS_BUCKET_NAME=

WEBSITE_URL=http://localhost:8000
SENDGRID_API_KEY=
SENDGRID_ACCOUNT_SENDER=

AUDESP_PILOTO_USERNAME=
AUDESP_PILOTO_PASSWORD=
AUDESP_PRODUCAO_USERNAME=
AUDESP_PRODUCAO_PASSWORD=
AUDESP_TOKEN_TTL_SECONDS=600
