{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

  <link rel="shortcut icon" type="image/png" href="https://storage.googleapis.com/sitts-project-media-bucket/logos/blue-favicon-32x32.png" >

  <title>{% block title %}Portal SITTS{% endblock %}</title>
</head>

<body class="flex justify-center inline-block items-center align-center bg-gray-200" style="height: 100vh;">

  <div class="
      w-full
      max-w-sm
      p-4
      border
      rounded-lg
      shadow
      sm:p-6
      md:p-8
      bg-gray-300
      border-gray-400
    "
    >
    <img
      src="https://storage.googleapis.com/sitts-project-media-bucket/logos/banner-colored.png"
      alt="Banner"
      class="mb-6 max-w-60 flex justify-self-center"
    >
    <form method="post" class="space-y-6">
        {% csrf_token %}

        <h5 class="text-xl font-medium text-black">
          Recuperar senha
          <p class="mt-2 text-sm font-normal text-justify">
            Informe seu endereço de email abaixo, e nos te enviaremos um email com instruções para configurar uma nova.
          </p>
        </h5>

        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-black">
              Email
            </label>
            <input
              type="email"
              name="email"
              id="email"
              class="
                border
                text-sm
                rounded-lg
                focus:ring-blue-500
                focus:border-blue-500
                block
                w-full
                p-2.5
                bg-gray-400
                border-gray-300
                placeholder-gray-600
                text-black
              "
              placeholder="nome@email.com"
              required
            />
        </div>
        
        <div class="flex items-start">
          <a href="{% url 'login' %}" class="text-sm ms-auto hover:underline text-blue-800">Voltar para o Login</a>
        </div>

        <button
          type="submit"
          class="
            w-full
            text-white
            focus:ring-4
            focus:outline-none
            font-medium
            rounded-lg
            text-sm
            px-5
            py-2.5
            text-center
            bg-blue-600
            hover:bg-blue-700
            focus:ring-blue-800
          "
          >Enviar</button>
    </form>

  </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>


</html>
