{% extends "base.html" %}

{% block title %}Processos de Aquisição - Portal SITTS{% endblock %}

{% block content %}

{% load humanize %}

<style>
  @media print {
    * {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
    body * {
      visibility: hidden;
    }
    #printable, #printable * {
      visibility: visible;
    }
    #printable {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
    .no-print, #printButton {
      display: none !important;
    }
    table {
      table-layout: fixed;
      width: 100%;
      font-size: 8pt;
    }
    th, td {
      white-space: normal !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
      line-height: 1.2;
    }
  }
</style>


<div id="printable" class="container mx-auto mx-4 my-6">
  <h1 class="text-2xl font-bold mb-3">Processos de Aquisição</h1>

  <!-- Breadcrumb -->
  <nav class="flex py-3 text-black print:hidden" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center">
        <a href="{% url 'home' %}" class="inline-flex items-center text-sm font-medium text-black hover:text-gray-500">
          <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
          </svg>
          Inicio
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="rtl:rotate-180 block w-3 h-3 mx-1 text-black " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <a href="{% url 'contracts:contracts-list' %}" class="ms-1 text-sm font-medium text-black hover:text-gray-500 md:ms-2">Contratos</a>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="rtl:rotate-180 block w-3 h-3 mx-1 text-black " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <a href="{% url 'contracts:contracts-detail' contract.id %}" class="ms-1 text-sm font-medium text-black hover:text-gray-500 md:ms-2">{{ contract.trailing_code }}</a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="rtl:rotate-180  w-3 h-3 mx-1 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="ms-1 text-sm font-medium text-black md:ms-2">Processos de Aquisição</span>
        </div>
      </li>
    </ol>
  </nav>

  <div class="overflow-x-auto my-5">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="text-xs text-white uppercase bg-gray-500">
        <tr>
            <th class="py-3 px-6">
              Item
            </th>
            <th class="py-3 px-6">
              Status
            </th>
            <th class="py-3 px-6">
              Custo de Aquisição
            </th>
            <th class="py-3 px-6">
              Quantidade de Parcelas
            </th>
            <th class="py-3 px-6">
              Data de Aquisição
            </th>
            <th class="py-3 px-6">
              Fornecedor
            </th>
            <th class="py-3 px-6">
              Ações
            </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {% for item in items %}
          <tr class="{% cycle 'bg-white' 'bg-gray-100' %} border-b">
              <td class="px-6 py-4 text-base text-black max-w-60">
                {{ item.name }}
              </td>
              <td class="px-6 py-4 text-sm text-black text-center">
                {{ item.purchase_status_label }}
              </td>
              <td class="px-6 py-4 text-sm text-black text-center">
                {{ item.aquisition_value|default_if_none:"-" }}
              </td>
              <td class="px-6 py-4 text-sm text-black text-center">
                {{ item.aquisition_parcel_quantity|default_if_none:"-" }}
              </td>
              <td class="px-6 py-4 text-sm text-black text-center">
                {{ item.aquisition_date|default_if_none:"-" }}
              </td>
              <td class="px-6 py-4 text-sm text-black text-center">
                {{ item.supplier|default_if_none:"-" }}
              </td>
              <td class="px-6 py-4 text-sm text-black text-center">
                <a href="{% url 'contracts:item-purchases-update' item.id %}" class="text-blue-600 hover:text-blue-800">
                    <button
                      class="
                        px-3
                        py-2
                        text-sm
                        font-medium
                        text-center
                        inline-flex
                        items-center
                        text-white
                        rounded-lg
                        focus:ring-4
                        focus:outline-none
                        bg-blue-600
                        hover:bg-blue-700
                        focus:ring-blue-800
                      "
                    >
                    Editar
                    </button>
                  </a>
              </td>
          </tr>
        {% empty %}
          <tr class="border-b bg-gray-200 border-gray-700 hover:bg-gray-400">
            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-black">
                  Nenhum resultado encontrado
              </th>
              <td class="px-6 py-4">
                  -
              </td>
              <td class="px-6 py-4">
                  -
              </td>
              <td class="px-6 py-4">
                  -
              </td>
              <td class="px-6 py-4">
                  -
              </td>
              <td class="px-6 py-4">
                    -
              </td>
              <td class="px-6 py-4">
                  -
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<div data-dial-init class="fixed end-6 bottom-6 group print:hidden">
  <div id="speed-dial-menu-default" class="flex flex-col items-center hidden mb-4 space-y-2">
    <button
      type="button"
      data-tooltip-target="tooltip-share"
      data-tooltip-placement="left"
      onclick="navigator.clipboard.writeText(window.location.href)"
      class="
        flex
        justify-center
        items-center
        w-[52px]
        h-[52px]
        text-gray-500
        hover:text-gray-900
        bg-white
        rounded-full
        border
        border-gray-200
        shadow-xs
        hover:bg-gray-50
        focus:ring-4
        focus:ring-gray-300
        focus:outline-none
      "
    >
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
        <path d="M14.419 10.581a3.564 3.564 0 0 0-2.574 1.1l-4.756-2.49a3.54 3.54 0 0 0 .072-.71 3.55 3.55 0 0 0-.043-.428L11.67 6.1a3.56 3.56 0 1 0-.831-2.265c.006.143.02.286.043.428L6.33 6.218a3.573 3.573 0 1 0-.175 4.743l4.756 2.491a3.58 3.58 0 1 0 3.508-2.871Z"/>
      </svg>
      <span class="sr-only">Compartilhar</span>
    </button>
    <div
      id="tooltip-share"
      role="tooltip"
      class="
        absolute
        z-10
        invisible
        inline-block
        w-auto
        px-3
        py-2
        text-sm
        font-medium
        text-white
        transition-opacity
        duration-300
        bg-gray-900
        rounded-lg
        shadow-xs
        opacity-0
        tooltip
      "
    >
      Compartilhar
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <button
      type="button"
      data-tooltip-target="tooltip-print"
      data-tooltip-placement="left"
      onclick="window.print()"
      class="
        flex
        justify-center
        items-center
        w-[52px]
        h-[52px]
        text-gray-500
        hover:text-gray-900
        bg-white
        rounded-full
        border
        border-gray-200
        shadow-xs
        hover:bg-gray-50
        focus:ring-4
        focus:ring-gray-300
        focus:outline-none
      "
    >
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M5 20h10a1 1 0 0 0 1-1v-5H4v5a1 1 0 0 0 1 1Z"/>
          <path d="M18 7H2a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2v-3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2Zm-1-2V2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v3h14Z"/>
      </svg>
      <span class="sr-only">Imprimir</span>
    </button>
    <div id="tooltip-print" role="tooltip" class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip">
      Imprimir
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
  </div>

  <button
    type="button"
    data-dial-toggle="speed-dial-menu-default"
    aria-controls="speed-dial-menu-default"
    aria-expanded="false"
    class="flex items-center justify-center text-white bg-blue-700 rounded-full w-14 h-14 hover:bg-blue-800 focus:ring-4 focus:ring-blue-700 focus:outline-none"
  >
      <svg
        class="w-5 h-5 transition-transform group-hover:rotate-45"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 18 18"
      >
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
      </svg>
      <span class="sr-only">Ações</span>
  </button>
</div>
    
{% endblock %}
