{% load humanize %}

<div class="relative">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200">
    <table class="w-full text-sm text-left rtl:text-right text-center text-gray-400">
        <thead class="text-xs text-white uppercase bg-gray-500">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Identificação
                </th>
                <th scope="col" class="px-6 py-3 whitespace-nowrap">
                    Valor
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                  Análise
                </th>
                <th scope="col" class="px-6 py-3">
                    Conta Bancária
                </th>
                <th scope="col" class="px-6 py-3">
                    Origem
                </th>
                <th scope="col" class="px-6 py-3" />
            </tr>
        </thead>
        <tbody>
            {% if revenues_page %}
              {% for revenue in revenues_page %}
                <tr class="border-b bg-gray-200 border-gray-700 hover:bg-gray-400">
                    <th scope="row" class="px-6 py-4 text-base whitespace-nowrap text-black">
                      {{ revenue.identification }} <br>
                      {% if accountability.is_on_execution and not revenue.conciled %}
                        <a href="{% url 'accountability:revenue-reconcile' revenue.id %}">
                          <button
                            type="button"
                            class="
                              text-white
                              ml-2
                              bg-blue-600
                              hover:bg-blue-600
                              focus:ring-4
                              focus:outline-none
                              focus:ring-blue-600
                              font-medium
                              rounded-full
                              text-xs
                              mt-2
                              px-2.5
                              py-1
                              text-center
                              inline-flex
                              items-center
                              me-2
                            "
                          >
                            conciliar
                          </button>
                        </a>
                      {% endif %}
                    </th>
                    <td class="px-6 py-4 text-sm text-black">
                      R${{ revenue.value|intcomma }} <br>
                      <button
                        type="button"
                        data-modal-target="documents-modal-{{ revenue.id}}"
                        data-modal-toggle="documents-modal-{{ revenue.id}}"
                        class="
                          text-white
                          ml-2
                          bg-blue-600
                          hover:bg-blue-600
                          focus:ring-4
                          focus:outline-none
                          focus:ring-blue-600
                          font-medium
                          rounded-full
                          text-xs
                          mt-2
                          px-2.5
                          py-1
                          text-center
                          inline-flex
                          items-center
                          me-2
                          whitespace-nowrap
                        "
                      >
                        {{ revenue.count_files }} arquivos
                        <svg class="ml-2 w-[12px] h-[12px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                          <path fill-rule="evenodd" d="M3 6a2 2 0 0 1 2-2h5.532a2 2 0 0 1 1.536.72l1.9 2.28H3V6Zm0 3v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V9H3Z" clip-rule="evenodd"/>
                        </svg>
                      </button>

                    </td>
                    <td class="px-6 py-4 text-sm text-left text-black whitespace-nowrap">
                      <p class="mt-1 text-sm">
                        {% if revenue.paid %}
                          &#9989;
                        {% else %}
                          &#10060;
                        {% endif %}
                        Paga
                      </p>
                      <p class="mt-1 text-sm">
                        {% if revenue.conciled %}
                          &#9989;
                        {% else %}
                          &#10060;
                        {% endif %}
                        Conciliada
                      </p>
                    </td>
                    <td class="px-6 py-4 text-sm text-center text-black whitespace-nowrap">
                      {{ revenue.status_label }}
                    </td>
                    <td class="px-6 py-4 text-sm text-black">
                      <a
                        href="{% url 'bank:bank-accounts-detail' revenue.bank_account.id %}"
                        class="hover:underline text-blue-700"
                        target="_blank"
                      >
                        {{ revenue.bank_account.account }} ({{revenue.bank_account.account_type_label}}) <br>
                        <span class="text-sm">{{ revenue.bank_account.bank_name }}</span>
                    </a>
                    </td>
                    <td class="px-6 py-4 text-sm text-black">
                      {{ revenue.source_label }} <br>
                    </td>
                    <td class="px-6 py-4 text-sm flex justify-end">
                      {% if accountability.is_on_execution %}
                      <a
                        href="{% url 'accountability:revenue-update' revenue.id %}"
                        class="
                          px-3
                          py-2
                          text-xs
                          font-medium
                          text-center
                          inline-flex
                          items-center
                          text-white
                          rounded-lg
                          focus:ring-4
                          focus:outline-none
                          bg-blue-600
                          hover:bg-blue-700
                          focus:ring-blue-800
                        "
                      >
                        Visualizar
                      </a>

                      <button
                        type="button"
                        data-modal-target="revenues-duplicate-{{ revenue.id}}"
                        data-modal-toggle="revenues-duplicate-{{ revenue.id}}"
                        class="
                          text-white
                          ml-2
                          bg-blue-600
                          hover:bg-blue-600
                          focus:ring-4
                          focus:outline-none
                          focus:ring-blue-600
                          font-medium
                          rounded-full
                          text-sm
                          p-2
                          text-center
                          inline-flex
                          items-center
                          me-2
                        "
                      >
                        <svg class="w-[16px] h-[16px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                          <path fill-rule="evenodd" d="M18 3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1V9a4 4 0 0 0-4-4h-3a1.99 1.99 0 0 0-1 .267V5a2 2 0 0 1 2-2h7Z" clip-rule="evenodd"/>
                          <path fill-rule="evenodd" d="M8 7.054V11H4.2a2 2 0 0 1 .281-.432l2.46-2.87A2 2 0 0 1 8 7.054ZM10 7v4a2 2 0 0 1-2 2H4v6a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-3Z" clip-rule="evenodd"/>
                        </svg>
                      </button>

                      <button
                        type="button"
                        data-modal-target="revenues-delete-{{ revenue.id}}"
                        data-modal-toggle="revenues-delete-{{ revenue.id}}"
                        class="
                          text-white
                          ml-2
                          bg-red-600
                          hover:bg-red-600
                          focus:ring-4
                          focus:outline-none
                          focus:ring-red-600
                          font-medium
                          rounded-full
                          text-sm
                          p-2
                          text-center
                          inline-flex
                          items-center
                          me-2
                        "
                      >
                        <svg class="w-[16px] h-[16px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                          <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                        </svg>                                      
                      </button>                  
                      {% elif accountability.is_sent %}
                      <a
                        href="{% url 'accountability:review-single-revenue' revenue.accountability.id revenue.id %}"
                        class="
                          px-3
                          py-2
                          text-xs
                          font-medium
                          text-center
                          inline-flex
                          items-center
                          text-white
                          rounded-lg
                          focus:ring-4
                          focus:outline-none
                          bg-blue-600
                          hover:bg-blue-700
                          focus:ring-blue-800
                        "
                      >
                        Revisar
                      </a>
                      {% endif %}
                    </td>
                </tr>

                <div
                  id="documents-modal-{{ revenue.id}}"
                  tabindex="-1"
                  data-modal-backdrop="static"
                  aria-hidden="true"
                  class="
                    hidden
                    overflow-y-auto
                    overflow-x-hidden
                    fixed
                    top-0
                    right-0
                    left-0
                    z-50
                    justify-center
                    items-center
                    w-full
                    md:inset-0
                    h-[calc(100%-1rem)]
                    max-h-full
                  "
                >
                  <div class="relative p-4 w-full max-w-md max-h-full">
                    <!-- Modal content -->
                    <div class="relative rounded-lg shadow bg-gray-300">
                      <!-- Modal header -->
                        <div class="flex items-center justify-between p-2 mb-2 md:p-5 border-b border-gray-600">
                            <h3 class="text-xl font-semibold text-black">
                              Documentos Anexados
                            </h3>
                            <button
                              type="button"
                              data-modal-hide="documents-modal-{{ revenue.id}}"
                              class="
                                end-2.5
                                text-black
                                hover:bg-gray-600
                                hover:text-black
                                bg-transparent
                                rounded-lg
                                text-sm
                                w-6
                                h-6
                                ms-auto
                                inline-flex
                                justify-center
                                items-center
                              "
                            >
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Fechar modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5">
                            <div>
                              <ul class="max-w-md divide-y divide-gray-700">
                                {% for file in revenue.files.all %}
                                  <li class="py-3 sm:pb-4">
                                    <div class="flex items-center space-x-4 rtl:space-x-reverse">
                                      <div class="
                                          text-white
                                          ml-2
                                          bg-blue-600
                                          hover:bg-blue-600
                                          focus:ring-4
                                          focus:outline-none
                                          focus:ring-blue-600
                                          font-medium
                                          rounded-full
                                          text-sm
                                          p-2.5
                                          text-center
                                          inline-flex
                                          items-center
                                          me-2
                                        "
                                      >
                                        <svg class="w-[16px] h-[16px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                          <path fill-rule="evenodd" d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-7Z" clip-rule="evenodd"/>
                                        </svg>                      
                                      </div>
                                      <div class="flex-1 min-w-0">
                                          <a
                                            href="{{ file.file.url }}"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="text-base font-medium text-blue-600 hover:underline"
                                          >
                                            {{ file.name }}
                                          </a>
                                          <p class="text-xs mt-2 text-gray-600 truncate">
                                            Anexado em: {{ file.created_at }}
                                          </p>
                                      </div>

                                      {% if accountability.is_on_execution %}
                                      <form method="post" action="{% url 'accountability:revenue-file-delete' file.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                        <button
                                          type="submit"
                                          class="
                                            text-white
                                            ml-2
                                            bg-red-600
                                            hover:bg-red-600
                                            focus:ring-4
                                            focus:outline-none
                                            focus:ring-red-600
                                            font-medium
                                            rounded-full
                                            text-sm
                                            p-2
                                            text-center
                                            inline-flex
                                            items-center
                                            me-2
                                          "
                                        >
                                          <svg class="w-[16px] h-[16px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                                          </svg>                                      
                                        </button>
                                      </form>
                                      {% endif %}

                                    </div>
                                  </li>
                                {% empty %}
                                <li class="py-3 sm:pb-4">
                                  <div class="flex items-center space-x-4 rtl:space-x-reverse">
                                    <div class="
                                        text-white
                                        ml-2
                                        bg-blue-600
                                        hover:bg-blue-600
                                        focus:ring-4
                                        focus:outline-none
                                        focus:ring-blue-600
                                        font-medium
                                        rounded-full
                                        text-sm
                                        p-2.5
                                        text-center
                                        inline-flex
                                        items-center
                                        me-2
                                      "
                                    >
                                      <svg class="w-[16px] h-[16px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-7Z" clip-rule="evenodd"/>
                                      </svg>                      
                                    </div>
                                    <div class="flex-1 min-w-0">
                                        <p class="text-base font-medium truncate text-black">
                                          Sem arquivos anexados
                                        </p>
                                        <p class="text-xs text-gray-600 truncate">
                                          Anexado em: ----
                                        </p>
                                    </div>
                                  </div>
                                </li>
                                {% endfor %}
                              </ul>
                            </div>
                
                            <div id="uploadRevenueFormContainer-{{ revenue.id }}" class="hidden mb-6">
                              <form method="post" action="{% url 'accountability:revenue-file' revenue.pk %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                <div class="my-3">
                                  <label class="block text-xl mb-2 font-medium text-black">Arquivos</label>
                                  <input
                                      class="
                                          block
                                          w-full
                                          text-sm
                                          text-gray-900
                                          border
                                          border-gray-500
                                          rounded-lg
                                          cursor-pointer
                                          bg-gray-300
                                          focus:outline-none
                                      "
                                      id="files"
                                      name="files"
                                      type="file"
                                      multiple
                                  >
                                </div>
                                <div class="flex justify-end">
                                  <button
                                    type="submit"
                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2"
                                  >
                                    Enviar Documento
                                  </button>
                                </div>
                              </form>
                            </div>

                            <div class="grid gap-6 mb-10 my-6 md:grid-cols-2">
                              <button
                                type="button"
                                data-modal-hide="documents-modal-{{ revenue.id}}"
                                class="
                                  w-full
                                  text-white
                                  bg-gray-700
                                  hover:bg-gray-800
                                  focus:ring-4
                                  focus:outline-none
                                  focus:ring-gray-300
                                  font-medium rounded-lg
                                  text-sm
                                  px-5
                                  py-2
                                  text-center
                                "
                              >
                                Fechar
                              </button>
                              <button
                                type="button"
                                id="btnShowRevenueUploadForm-{{ revenue.id }}"
                                  class="
                                  w-full
                                  text-white
                                  bg-blue-700
                                  hover:bg-blue-800
                                  focus:ring-4
                                  focus:outline-none
                                  focus:ring-blue-300
                                  font-medium rounded-lg
                                  text-sm
                                  px-5
                                  py-2
                                  text-center
                                "
                              >
                                Anexar Docs
                              </button>
                            </div>
          
                        </div>
                    </div>
                  </div>
                </div>


                {% if accountability.is_on_execution %}
                <div
                    id="revenues-duplicate-{{ revenue.id}}"
                    tabindex="-1"
                    data-modal-backdrop="static"
                    aria-hidden="true"
                    class="
                      hidden
                      overflow-y-auto
                      overflow-x-hidden
                      fixed
                      top-0
                      right-0
                      left-0
                      z-50
                      justify-center
                      items-center
                      w-full
                      md:inset-0
                      h-[calc(100%-1rem)]
                      max-h-full
                    "
                >
                  <div class="relative p-4 w-full max-w-md max-h-full">
                      <!-- Modal content -->
                      <div class="relative rounded-lg shadow bg-gray-300">
                        <!-- Modal header -->
                          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600">
                              <h3 class="text-xl font-semibold text-black">
                                  Duplicar receita?
                              </h3>
                              <button
                                type="button"
                                data-modal-hide="revenues-duplicate-{{ revenue.id}}"
                                class="
                                  end-2.5
                                  text-black
                                  hover:bg-gray-600
                                  hover:text-black
                                  bg-transparent
                                  rounded-lg
                                  text-sm
                                  w-6
                                  h-6
                                  ms-auto
                                  inline-flex
                                  justify-center
                                  items-center
                                "
                              >
                                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                  </svg>
                                  <span class="sr-only">Fechar modal</span>
                              </button>
                          </div>
                          <!-- Modal body -->
                          <div class="p-4 md:p-5">

                              <form class="space-y-4"  method="post" action="{% url 'accountability:revenue-duplicate' revenue.id %}">
                                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                  <input type="hidden" name="form_type" value="revenues_delete">
                                  <input type="hidden" name="revenue_id" value="{{ revenue.id }}">
                                  <input type="hidden" name="next" value="{{ request.get_full_path }}">

                                  <span class="py-10 my-10 text-base">Todos os dados, exceto os arquivos, serão copiados.</span>

                                  <div class="grid gap-6 my-6 md:grid-cols-2">
                                    <button
                                      type="button"
                                      data-modal-hide="revenues-duplicate-{{ revenue.id}}"
                                      class="
                                        w-full
                                        text-white
                                        bg-gray-700
                                        hover:bg-gray-800
                                        focus:ring-4
                                        focus:outline-none
                                        focus:ring-gray-300
                                        font-medium rounded-lg
                                        text-sm
                                        px-5
                                        py-2.5
                                        text-center
                                      "
                                    >
                                        Cancelar
                                    </button>
                                    <button
                                        type="submit"
                                        class="
                                          w-full
                                          text-white
                                          bg-blue-700
                                          hover:bg-blue-800
                                          focus:ring-4
                                          focus:outline-none
                                          focus:ring-blue-300
                                          font-medium rounded-lg
                                          text-sm
                                          px-5
                                          py-2.5
                                          text-center
                                        "
                                    >
                                        Duplicar
                                    </button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                </div>

                <div
                    id="revenues-delete-{{ revenue.id}}"
                    tabindex="-1"
                    data-modal-backdrop="static"
                    aria-hidden="true"
                    class="
                      hidden
                      overflow-y-auto
                      overflow-x-hidden
                      fixed
                      top-0
                      right-0
                      left-0
                      z-50
                      justify-center
                      items-center
                      w-full
                      md:inset-0
                      h-[calc(100%-1rem)]
                      max-h-full
                    "
                >
                  <div class="relative p-4 w-full max-w-md max-h-full">
                      <!-- Modal content -->
                      <div class="relative rounded-lg shadow bg-gray-300">
                        <!-- Modal header -->
                          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600">
                              <h3 class="text-xl font-semibold text-black">
                                  Deletar receita?
                              </h3>
                              <button
                                type="button"
                                data-modal-hide="revenues-delete-{{ revenue.id}}"
                                class="
                                  end-2.5
                                  text-black
                                  hover:bg-gray-600
                                  hover:text-black
                                  bg-transparent
                                  rounded-lg
                                  text-sm
                                  w-6
                                  h-6
                                  ms-auto
                                  inline-flex
                                  justify-center
                                  items-center
                                "
                              >
                                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                  </svg>
                                  <span class="sr-only">Fechar modal</span>
                              </button>
                          </div>
                          <!-- Modal body -->
                          <div class="p-4 md:p-5">

                              <form class="space-y-4"  method="post" action="{% url 'accountability:revenue-delete' revenue.id %}">
                                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                  <input type="hidden" name="form_type" value="revenues_delete">
                                  <input type="hidden" name="revenue_id" value="{{ revenue.id }}">
                                  <input type="hidden" name="next" value="{{ request.get_full_path }}">

                                  <span class="py-10 my-10 text-base">Não é possível reverter essa ação depois.</span>

                                  <div class="grid gap-6 my-6 md:grid-cols-2">
                                    <button
                                      type="button"
                                      data-modal-hide="revenues-delete-{{ revenue.id}}"
                                      class="
                                        w-full
                                        text-white
                                        bg-gray-700
                                        hover:bg-gray-800
                                        focus:ring-4
                                        focus:outline-none
                                        focus:ring-gray-300
                                        font-medium rounded-lg
                                        text-sm
                                        px-5
                                        py-2.5
                                        text-center
                                      "
                                    >
                                        Cancelar
                                    </button>
                                    <button
                                        type="submit"
                                        class="
                                          w-full
                                          text-white
                                          bg-red-700
                                          hover:bg-red-800
                                          focus:ring-4
                                          focus:outline-none
                                          focus:ring-red-300
                                          font-medium rounded-lg
                                          text-sm
                                          px-5
                                          py-2.5
                                          text-center
                                        "
                                    >
                                        Deletar
                                    </button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                </div>
                {% endif %}

              {% endfor %}
            {% else %}
              <tr class="border-b bg-gray-200 border-gray-700 hover:bg-gray-400">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-black">
                    Nenhum resultado encontrado
                </th>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                  -
                </td>
                <td class="px-6 py-4">
                  -
                </td>
              </tr>
            {% endif %}     
        </tbody>
        <tfoot class="bg-gray-500 text-white font-base">
          <tr>
              <th scope="row" class="px-6 py-3 text-center">TOTAL</th>
              <th scope="row" class="px-6 py-3 text-center">
                <span class="text-sm font-normal">Cadastrado:</span> <br> R${{ revenues_total|intcomma }}
              </th>
              <th scope="row" class="px-6 py-3" />
              <th scope="row" class="px-6 py-3" />
              <th scope="row" class="px-6 py-3" />
              <th scope="row" class="px-6 py-3" />
              <th scope="row" class="px-6 py-3" />
          </tr>
        </tfoot>
    </table>
  </div>
</div>

{% if accountability.is_on_execution %}
  <div class="flex items-center flex-column flex-wrap md:flex-row justify-end pt-4 px-4 bg-gray-200">
    <a
      href="{% url 'accountability:revenues-create' accountability.id %}"
      class="
        px-3
        py-2
        text-sm
        font-medium
        text-center
        inline-flex
        items-center
        text-white
        rounded-lg
        focus:ring-4
        focus:outline-none
        bg-blue-600
        hover:bg-blue-700
        focus:ring-blue-800
      "
    >
      Adicionar nova
      <svg class="w-[16px] h-[16px] text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
      </svg>
    </a>
  </div>
{% endif %}

<nav class="flex items-center flex-column flex-wrap md:flex-row justify-between p-4 bg-gray-200" aria-label="Table navigation">
  <span class="text-base font-normal text-black mb-4 ml-4 md:mb-0 block w-full md:inline md:w-auto">
    Página
    <span class="font-bold text-black">{{ revenues_page.number }}</span>
    de
    <span class="font-bold text-black">{{ revenues_page.paginator.num_pages }}</span>
  </span>

  <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
    {% if revenues_page.has_previous %}
      <li>
        <a
          href="?revenues_page=1&expenses_page={{ expenses_page_number }}&q={{ q }}"
          class="
            flex
            items-center
            justify-center
            px-3
            h-8
            ms-0
            leading-tight
            text-black
            border
            rounded-s-lg
            bg-gray-200
            border-gray-700
            hover:bg-gray-800
            hover:text-white
          "
        >
          Primeira
        </a>
      </li>

      <li>
        <a
          href="?revenues_page={{ revenues_page.previous_page_number }}&expenses_page={{ expenses_page_number }}&q={{ q }}"
          class="
            flex
            items-center
            justify-center
            px-3
            h-8
            ms-0
            leading-tight
            text-black
            border
            bg-gray-200
            border-gray-700
            hover:bg-gray-800
            hover:text-white
          "
        >
          Anterior
        </a>
      </li>
    {% endif %}

    {% for num in revenues_page.paginator.page_range %}
      {% if num == revenues_page.number %}
        <li>
          <a
            href="?revenues_page={{ num }}&expenses_page={{ expenses_page_number }}&q={{ q }}"
            aria-current="page"
            class="
              flex
              items-center
              justify-center
              px-3
              h-8
              text-white
              border
              hover:bg-blue-100
              hover:text-white
              border-gray-700
              bg-gray-800
            "
          >
            {{ num }}
          </a>
        </li>
      {% else %}
        <li>
          <a
            href="?revenues_page={{ num }}&expenses_page={{ expenses_page_number }}&q={{ q }}"
            class="
              flex
              items-center
              justify-center
              px-3
              h-8
              leading-tight
              text-black
              border
              bg-gray-200
              border-gray-700
              hover:bg-gray-800
              hover:text-white
            "
          >
            {{ num }}
          </a>
        </li>
      {% endif %}
    {% endfor %}

    {% if revenues_page.has_next %}
      <li>
        <a
          href="?revenues_page={{ revenues_page.next_page_number }}&expenses_page={{ expenses_page_number }}&q={{ q }}"
          class="
            flex
            items-center
            justify-center
            px-3
            h-8
            leading-tight
            text-black
            border
            bg-gray-200
            border-gray-700
            hover:bg-gray-800
            hover:text-white
          "
        >
          Próxima
        </a>
      </li>

      <li>
        <a
          href="?revenues_page={{ revenues_page.paginator.num_pages }}&expenses_page={{ expenses_page_number }}&q={{ q }}"
          class="
            flex
            items-center
            justify-center
            px-3
            h-8
            leading-tight
            text-black
            border
            rounded-e-lg
            bg-gray-200
            border-gray-700
            hover:bg-gray-800
            hover:text-white
          "
        >
          Última
        </a>
      </li>
    {% endif %}
  </ul>
</nav>

<script>
  document.querySelectorAll('[id^="btnShowRevenueUploadForm-"]').forEach(function(button) {
    button.addEventListener('click', function() {
        const revenueId = this.id.replace("btnShowRevenueUploadForm-", "");
        const container = document.getElementById('uploadRevenueFormContainer-' + revenueId);
        container.classList.toggle('hidden');
    });
  });
</script>