{% load humanize %}

<table class="w-full text-sm text-left rtl:text-right text-center text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-white uppercase bg-gray-50 dark:bg-gray-500 dark:text-white">
        <tr>
            <th scope="col" class="px-6 py-3">
                Identificação
            </th>
            <th scope="col" class="px-6 py-3">
                Valor
            </th>
            <th scope="col" class="px-6 py-3">
                Conta Bancária
            </th>
            <th scope="col" class="px-6 py-3">
                Origem
            </th>
            <th scope="col" class="px-6 py-3">
                Natureza
            </th>
            <th scope="col" class="px-6 py-3" />
        </tr>
    </thead>
    <tbody>
        {% if revenues_page %}
          {% for revenue in revenues_page %}
            <tr class="bg-white border-b dark:bg-gray-200 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-400">
                <th scope="row" class="px-6 py-4 text-base text-gray-900 whitespace-nowrap dark:text-black">
                  {{ revenue.identification }} 
                </th>
                <td class="px-6 py-4 text-base text-gray-900 dark:text-black">
                  R${{ revenue.value|intcomma }}
                </td>
                <td class="px-6 py-4 text-base text-gray-900 dark:text-black">
                  <a
                    href="{% url 'bank:bank-accounts-detail' revenue.bank_account.id %}"
                    class="hover:underline text-blue-700"
                    target="_blank"
                  >
                    {{ revenue.bank_account.account }} ({{revenue.bank_account.account_type_label}}) <br>
                    <span class="text-sm">{{ revenue.bank_account.bank_name }}</span>
                </a>
                </td>
                <td class="px-6 py-4 text-base text-gray-900 dark:text-black">
                  {{ revenue.source.name }} <br>
                  <span class="text-sm">{{ revenue.source.category_label }}</span>
                </td>
                <td class="px-6 py-4 text-base text-gray-900 dark:text-black">
                  {{ revenue.revenue_nature_label }}
                </td>
                <td class="px-6 py-4 text-base flex justify-end">
                  <a
                    href="{% url 'accountability:revenue-update' revenue.id %}"
                    class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >
                    Visualizar
                  </a>
                  {% if accountability.is_on_execution %}

                  <button
                    type="button"
                    data-modal-target="revenues-duplicate-{{ revenue.id}}"
                    data-modal-toggle="revenues-duplicate-{{ revenue.id}}"
                    class="
                      text-white
                      ml-2
                      bg-blue-600
                      hover:bg-blue-600
                      focus:ring-4
                      focus:outline-none
                      focus:ring-blue-600
                      font-medium
                      rounded-full
                      text-sm
                      p-2.5
                      text-center
                      inline-flex
                      items-center
                      me-2
                    "
                  >
                    <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                      <path fill-rule="evenodd" d="M18 3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1V9a4 4 0 0 0-4-4h-3a1.99 1.99 0 0 0-1 .267V5a2 2 0 0 1 2-2h7Z" clip-rule="evenodd"/>
                      <path fill-rule="evenodd" d="M8 7.054V11H4.2a2 2 0 0 1 .281-.432l2.46-2.87A2 2 0 0 1 8 7.054ZM10 7v4a2 2 0 0 1-2 2H4v6a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-3Z" clip-rule="evenodd"/>
                    </svg>
                  </button>

                  <button
                    type="button"
                    data-modal-target="revenues-delete-{{ revenue.id}}"
                    data-modal-toggle="revenues-delete-{{ revenue.id}}"
                    class="
                      text-white
                      ml-2
                      bg-red-600
                      hover:bg-red-600
                      focus:ring-4
                      focus:outline-none
                      focus:ring-red-600
                      font-medium
                      rounded-full
                      text-sm
                      p-2.5
                      text-center
                      inline-flex
                      items-center
                      me-2
                    "
                  >
                    <svg class="w-[20px] h-[20px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                      <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                    </svg>                                      
                  </button>                  
                  {% endif %}
                </td>
            </tr>

            <div
                id="revenues-duplicate-{{ revenue.id}}"
                tabindex="-1"
                data-modal-backdrop="static"
                aria-hidden="true"
                class="
                  hidden
                  overflow-y-auto
                  overflow-x-hidden
                  fixed
                  top-0
                  right-0
                  left-0
                  z-50
                  justify-center
                  items-center
                  w-full
                  md:inset-0
                  h-[calc(100%-1rem)]
                  max-h-full
                "
            >
              <div class="relative p-4 w-full max-w-md max-h-full">
                  <!-- Modal content -->
                  <div class="relative rounded-lg shadow bg-gray-300">
                    <!-- Modal header -->
                      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                          <h3 class="text-xl font-semibold text-black">
                              Duplicar receita?
                          </h3>
                          <button
                            type="button"
                            data-modal-hide="revenues-duplicate-{{ revenue.id}}"
                            class="
                              end-2.5
                              text-black
                              hover:bg-gray-600
                              hover:text-black
                              bg-transparent
                              rounded-lg
                              text-sm
                              w-8
                              h-8
                              ms-auto
                              inline-flex
                              justify-center
                              items-center
                            "
                          >
                              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                              </svg>
                              <span class="sr-only">Fechar modal</span>
                          </button>
                      </div>
                      <!-- Modal body -->
                      <div class="p-4 md:p-5">

                          <form class="space-y-4"  method="post" action="{% url 'accountability:revenue-duplicate' revenue.id %}">
                              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                              <input type="hidden" name="form_type" value="revenues_delete">
                              <input type="hidden" name="revenue_id" value="{{ revenue.id }}">

                              <span class="py-10 my-10 text-base">Todos os dados, exceto os arquivos, serão copiados.</span>

                              <div class="grid gap-6 my-6 md:grid-cols-2">
                                <button
                                  type="button"
                                  data-modal-hide="revenues-duplicate-{{ revenue.id}}"
                                  class="
                                    w-full
                                    text-white
                                    bg-gray-700
                                    hover:bg-gray-800
                                    focus:ring-4
                                    focus:outline-none
                                    focus:ring-gray-300
                                    font-medium rounded-lg
                                    text-sm
                                    px-5
                                    py-2.5
                                    text-center
                                  "
                                >
                                    Cancelar
                                </button>
                                <button
                                    type="submit"
                                    class="
                                      w-full
                                      text-white
                                      bg-blue-700
                                      hover:bg-blue-800
                                      focus:ring-4
                                      focus:outline-none
                                      focus:ring-blue-300
                                      font-medium rounded-lg
                                      text-sm
                                      px-5
                                      py-2.5
                                      text-center
                                    "
                                >
                                    Duplicar
                                </button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
            </div>

            <div
                id="revenues-delete-{{ revenue.id}}"
                tabindex="-1"
                data-modal-backdrop="static"
                aria-hidden="true"
                class="
                  hidden
                  overflow-y-auto
                  overflow-x-hidden
                  fixed
                  top-0
                  right-0
                  left-0
                  z-50
                  justify-center
                  items-center
                  w-full
                  md:inset-0
                  h-[calc(100%-1rem)]
                  max-h-full
                "
            >
              <div class="relative p-4 w-full max-w-md max-h-full">
                  <!-- Modal content -->
                  <div class="relative rounded-lg shadow bg-gray-300">
                    <!-- Modal header -->
                      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                          <h3 class="text-xl font-semibold text-black">
                              Deletar receita?
                          </h3>
                          <button
                            type="button"
                            data-modal-hide="revenues-delete-{{ revenue.id}}"
                            class="
                              end-2.5
                              text-black
                              hover:bg-gray-600
                              hover:text-black
                              bg-transparent
                              rounded-lg
                              text-sm
                              w-8
                              h-8
                              ms-auto
                              inline-flex
                              justify-center
                              items-center
                            "
                          >
                              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                              </svg>
                              <span class="sr-only">Fechar modal</span>
                          </button>
                      </div>
                      <!-- Modal body -->
                      <div class="p-4 md:p-5">

                          <form class="space-y-4"  method="post" action="{% url 'accountability:revenue-delete' revenue.id %}">
                              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                              <input type="hidden" name="form_type" value="revenues_delete">
                              <input type="hidden" name="revenue_id" value="{{ revenue.id }}">

                              <span class="py-10 my-10 text-base">Não é possível reverter essa ação depois.</span>

                              <div class="grid gap-6 my-6 md:grid-cols-2">
                                <button
                                  type="button"
                                  data-modal-hide="revenues-delete-{{ revenue.id}}"
                                  class="
                                    w-full
                                    text-white
                                    bg-gray-700
                                    hover:bg-gray-800
                                    focus:ring-4
                                    focus:outline-none
                                    focus:ring-gray-300
                                    font-medium rounded-lg
                                    text-sm
                                    px-5
                                    py-2.5
                                    text-center
                                  "
                                >
                                    Cancelar
                                </button>
                                <button
                                    type="submit"
                                    class="
                                      w-full
                                      text-white
                                      bg-red-700
                                      hover:bg-red-800
                                      focus:ring-4
                                      focus:outline-none
                                      focus:ring-red-300
                                      font-medium rounded-lg
                                      text-sm
                                      px-5
                                      py-2.5
                                      text-center
                                    "
                                >
                                    Deletar
                                </button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
            </div>

          {% endfor %}
        {% else %}
          <tr class="bg-white border-b dark:bg-gray-200 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-400">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-black">
                Nenhum resultado encontrado
            </th>
            <td class="px-6 py-4">
                -
            </td>
            <td class="px-6 py-4">
                -
            </td>
            <td class="px-6 py-4">
                -
            </td>
            <td class="px-6 py-4">
              -
            </td>
            <td class="px-6 py-4">
              -
            </td>
          </tr>
        {% endif %}     
    </tbody>
</table>

{% if accountability.is_on_execution %}
  <div class="flex items-center flex-column flex-wrap md:flex-row justify-end pt-4 px-4 bg-gray-200">
    <a
      href="{% url 'accountability:revenues-create' accountability.id %}"
      class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Adicionar nova
      <svg class="w-[16px] h-[16px] text-gray-800 dark:text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
      </svg>
    </a>
  </div>
{% endif %}

<nav class="flex items-center flex-column flex-wrap md:flex-row justify-between p-4 bg-gray-200" aria-label="Table navigation">
  <span class="text-base font-normal text-black dark:text-black mb-4 ml-4 md:mb-0 block w-full md:inline md:w-auto">
    Página
    <span class="font-bold text-gray-900 dark:text-black">{{ revenues_page.number }}</span>
    de
    <span class="font-bold text-gray-900 dark:text-black">{{ revenues_page.paginator.num_pages }}</span>
  </span>

  <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
    {% if revenues_page.has_previous %}
      <li>
        <a
          href="?revenues_page=1&expenses_page={{ expenses_page_number }}&q={{ q }}"
          class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-black bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-white dark:bg-gray-200 dark:border-gray-700 dark:text-black dark:hover:bg-gray-800 dark:hover:text-white"
        >
          Primeira
        </a>
      </li>

      <li>
        <a
          href="?revenues_page={{ revenues_page.previous_page_number }}&expenses_page={{ expenses_page_number }}&q={{ q }}"
          class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-black bg-white border border-gray-300 hover:bg-gray-100 hover:text-white dark:bg-gray-200 dark:border-gray-700 dark:text-black dark:hover:bg-gray-800 dark:hover:text-white"
        >
          Anterior
        </a>
      </li>
    {% endif %}

    {% for num in revenues_page.paginator.page_range %}
      {% if num == revenues_page.number %}
        <li>
          <a
            href="?revenues_page={{ num }}&expenses_page={{ expenses_page_number }}&q={{ q }}"
            aria-current="page"
            class="flex items-center justify-center px-3 h-8 text-white border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-white dark:border-gray-700 dark:bg-gray-800 dark:text-white"
          >
            {{ num }}
          </a>
        </li>
      {% else %}
        <li>
          <a
            href="?revenues_page={{ num }}&expenses_page={{ expenses_page_number }}&q={{ q }}"
            class="flex items-center justify-center px-3 h-8 leading-tight text-black bg-white border border-gray-300 hover:bg-gray-100 hover:text-white dark:bg-gray-200 dark:border-gray-700 dark:text-black dark:hover:bg-gray-800 dark:hover:text-white"
          >
            {{ num }}
          </a>
        </li>
      {% endif %}
    {% endfor %}

    {% if revenues_page.has_next %}
      <li>
        <a
          href="?revenues_page={{ revenues_page.next_page_number }}&expenses_page={{ expenses_page_number }}&q={{ q }}"
          class="flex items-center justify-center px-3 h-8 leading-tight text-black bg-white border border-gray-300 hover:bg-gray-100 hover:text-white dark:bg-gray-200 dark:border-gray-700 dark:text-black dark:hover:bg-gray-800 dark:hover:text-white"
        >
          Próxima
        </a>
      </li>

      <li>
        <a
          href="?revenues_page={{ revenues_page.paginator.num_pages }}&expenses_page={{ expenses_page_number }}&q={{ q }}"
          class="flex items-center justify-center px-3 h-8 leading-tight text-black bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-white dark:bg-gray-200 dark:border-gray-700 dark:text-black dark:hover:bg-gray-800 dark:hover:text-white"
        >
          Última
        </a>
      </li>
    {% endif %}
  </ul>
</nav>

