{% extends "base.html" %}

{% block title %}Receitas - Portal Gestão{% endblock %}

{% block customcss %}
<style>
    #id_transactions {
        max-height: 200px;
        overflow-y: scroll;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}

<p class="text-3xl mb-4 font-bold">
    Conciliar Despesa
</p>
  
<!-- Breadcrumb -->
<nav class="flex py-3 text-black" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
        <a href="{% url 'home' %}" class="inline-flex items-center text-sm font-medium text-black hover:text-gray-500 dark:text-black dark:hover:text-gray-500">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Inicio
        </a>
    </li>
    <li>
        <div class="flex items-center">
        <svg class="rtl:rotate-180 block w-3 h-3 mx-1 text-black " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a
            href="{% url 'accountability:accountability-detail' expense.accountability.id %}"
            class="ms-1 text-sm font-medium text-black hover:text-gray-500 md:ms-2 dark:text-black dark:hover:text-gray-500"
        >
            Prestação {{ expense.accountability.month }}/{{ expense.accountability.year }}
        </a>
        </div>
    </li>
    <li aria-current="page">
        <div class="flex items-center">
        <svg class="rtl:rotate-180  w-3 h-3 mx-1 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="ms-1 text-sm font-medium text-black md:ms-2 dark:text-black">Conciliar Despesa</span>
        </div>
    </li>
    </ol>
</nav>
  
<form method="post" enctype="multipart/form-data" class="max-w-lg mx-auto">
    {% csrf_token %}

    <label class="block mb-2 text-2xl font-bold text-black">Conciliar</label>

    <h2 class="mt-4 mb-2 text-lg text-left">
        Anexe os arquivos comprovando o pagamento da despesa e vincule as transações bancárias relacionadas.
        A despesa será marca como paga.
    <h2>

    <hr class="max-w-lg mx-auto h-px my-4 border-0 bg-gray-400">

    <div class="my-3">
        <label class="block text-xl mb-2 font-medium text-black">Arquivos</label>
        <input
            class="
                block
                w-full
                text-sm
                text-gray-900
                border
                border-gray-500
                rounded-lg
                cursor-pointer
                bg-gray-300
                focus:outline-none
            "
            id="files"
            name="files"
            type="file"
            multiple
        >
    </div>

    <div class="my-3">
        <label class="block text-xl font-medium text-black">Transações</label>
        <p id="helper-text-explanation" class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            A despesa pode corresponder a uma ou mais transações. <br>
            Ao vincular com uma transação, a despesa será marcada como conciliada.
        </p>
        
        <div class="relative mb-4">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input
                type="text"
                id="checkbox-search"
                class="
                    block
                    w-full
                    p-4
                    ps-10
                    text-sm
                    text-black
                    border
                    border-gray-500
                    rounded-lg
                    bg-gray-300
                    focus:ring-blue-500
                    focus:border-blue-500
                "
                placeholder="Pesquisar transações..."
            />
        </div>

        <div
            class="p-2 rounded-lg bg-gray-300 border-gray-500 text-black checkbox-container"
        >
          {{ form.transactions }}
        </div>
    </div>

    {% include 'commons/form-errors.html' with form=form %}

    {% if missing_files %}
    <div id="alert-revenue" class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100 border border-red-300" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Danger</span>
        <div>
            <span class="font-medium">Erro ao conciliar despesa</span>
            <ul class="my-1.5 list-disc list-inside">
                <li class="my-1">É necessário anexar algum arquivo de comprovante.</li>
            </ul>
        </div>

        <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-white rounded-lg focus:ring-2 focus:ring-white p-1.5 hover:bg-white inline-flex items-center justify-center h-8 w-8 dark:bg-gray-400 dark:text-white dark:hover:bg-gray-300" data-dismiss-target="#alert-revenue" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
        </button>

    </div>
    {% endif %}

    <button
        type="submit"
        class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        style="display: flex; justify-self: center;"
    >
        Conciliar
    </button>
</form>

<script>
    document.getElementById('checkbox-search').addEventListener('keyup', function() {
        var searchTerm = this.value.toLowerCase();
        // Seleciona todos os <div> que são filhos diretos do <div id="id_transactions">
        var optionDivs = document.querySelectorAll('#id_transactions > div');
        
        optionDivs.forEach(function(div) {
            // Se o conteúdo do <div> (label e checkbox) contém o termo de busca, exibe; caso contrário, oculta.
            if (div.textContent.toLowerCase().includes(searchTerm)) {
                div.style.display = '';
            } else {
                div.style.display = 'none';
            }
        });
    });
</script>

{% endblock %}
