{% load humanize %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="overflow-x-auto max-h-[600px] scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200">
    <table class="w-full text-sm text-left rtl:text-right text-gray-400 border-0">
        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-white bg-gray-500 sticky top-0 z-30 border-0">
            Contabilidade Mensal
            <p class="mt-1 text-sm font-normal text-gray-200">Confira o andamento das prestações dos últimos meses, ou inicie uma para um novo mês.</p>
        </caption>
        <thead class="text-xs text-white uppercase bg-gray-500 sticky top-[104px] z-30 border-0">
            <tr>
                <th scope="col" class="px-6 py-4 font-medium w-[25%]">
                  Prestação
                </th>
                <th scope="col" class="px-6 py-4 font-medium w-[25%]">
                  Receitas
                </th>
                <th scope="col" class="px-6 py-4 font-medium w-[25%]">
                  Despesas
                </th>
                <th scope="col" class="px-6 py-4 font-medium w-[15%]">
                  Status
                </th>
                <th scope="col" class="px-4 py-4 font-medium w-[180px] sticky right-0 z-40 bg-gray-500">
                  <span class="sr-only">Ações</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for accountability in accountabilities %}
              <tr class="bg-gray-50 border-b hover:bg-gray-200">
                <td class="px-6 py-4 text-sm font-medium text-gray-900">
                  {{ accountability.month_label }} {{ accountability.year }}
                </td>

                <td class="px-6 py-4 text-sm text-gray-900">
                  Cadastradas: {{ accountability.count_revenues }}
                </td>

                <td class="px-6 py-4 text-sm text-gray-900">
                  Cadastradas: {{ accountability.count_expenses }}
                </td>

                <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap">
                  {% if accountability.status == "WIP" %}
                    <span class="inline-flex text-xs font-medium px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-100">
                      Em Andamento
                    </span>
                  {% elif accountability.status == "SENT" %}
                    <span class="inline-flex text-xs font-medium px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-100">
                      Enviada para análise
                    </span>
                  {% elif accountability.status == "CORRECTING" %}
                    <span class="inline-flex text-xs font-medium px-2.5 py-0.5 rounded bg-indigo-100 text-indigo-800">
                      Corrigindo
                    </span>
                  {% elif accountability.status == "FINISHED" %}
                    <span class="inline-flex text-xs font-medium px-2.5 py-0.5 rounded bg-gray-100 text-gray-800">
                      Finalizada
                    </span>
                  {% endif %}
                </td>

                <td class="px-2 py-4 text-base text-sm sticky right-0 z-20 bg-gray-300 hover:bg-gray-400 w-[180px]">
                  <div class="flex justify-center">
                    <a
                      href="{% url 'accountability:accountability-detail' accountability.id %}"
                      class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white rounded-lg focus:ring-4 focus:outline-none bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
                    >
                      <svg class="w-5 h-5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12c0 1.2-4 6-9 6s-9-4.8-9-6c0-1.2 4-6 9-6s9 4.8 9 6Z"/>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                      </svg>
                      Conferir
                    </a>
                  </div>
                </td>
              </tr>
            {% empty %}
              <tr class="bg-gray-50 border-b hover:bg-gray-200">
                <td colspan="5" class="px-6 py-4 text-sm font-medium text-gray-900 text-center">
                  Nenhuma prestação cadastrada
                </td>
              </tr>
            {% endfor %}     
        </tbody>
    </table>
  </div>

  {% if contract.is_on_execution %}  
    <div class="flex items-center justify-end gap-2 p-4 bg-gray-200">
      <a
        href="{% url 'accountability:accountability-create' contract.id %}"
        class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white rounded-lg focus:ring-4 focus:outline-none bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
      >
        <svg class="w-5 h-5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
        </svg>
        Iniciar nova
      </a>
    </div>
  {% endif %}
</div>
