{% load humanize %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-white bg-gray-500">
            Contabilidade Mensal
            <p class="mt-1 text-sm font-normal text-gray-200">Confira o andamento das prestações dos últimos meses, ou inicie uma para outro mês.</p>
        </caption>
        <thead class="text-xs text-white uppercase bg-gray-50 dark:bg-gray-500 dark:text-white">
            <tr>
                <th scope="col" class="px-6 py-3" />
                <th scope="col" class="px-6 py-3">
                    Prestação
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Items Pendentes
                </th>
                <th scope="col" class="px-6 py-3">
                    Cadastrado
                </th>
                <th scope="col" class="px-6 py-3">
                    Conciliado
                </th>
            </tr>
        </thead>
        <tbody>
            {% if contract.accountabilities.count %}
              {% for accountability in contract.accountabilities.all %}
                <tr class="bg-white border-b dark:bg-gray-200 dark:border-gray-500 hover:bg-gray-50 dark:hover:bg-gray-400">
                  <td scope="row" class="py-4 text-sm text-gray-900 whitespace-nowrap dark:text-black">
                      <a
                        href="{% url 'accountability:accountability-detail' accountability.id %}"
                        class="ml-4 px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                      >
                        Conferir
                      </a>
                  </td>

                  <th class="pl-2 pr-6 py-4 text-sm whitespace-nowrap text-black max-w-48">
                    Prestação {{ accountability.month }}/{{ accountability.year }}
                  </th>

                  <td class="px-6 py-4 text-sm text-black whitespace-nowrap max-w-48">
                    {% if accountability.review_status == "WIP" %}
                      <span
                        class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-100"
                      >
                        {{ accountability.status_label }}
                      </span>
                    {% elif accountability.review_status == "SENT" %}
                      <span
                        class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-100"
                      >
                        {{ accountability.status_label }}
                      </span>
                    {% elif accountability.review_status == "CORRECTING" %}
                      <span
                        class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        {{ accountability.status_label }}
                      </span>
                    {% elif accountability.review_status == "FINISHED" %}
                      <span
                        class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        {{ accountability.status_label }}
                      </span>
                    {% endif %}
                  </td>

                  <td class="px-6 py-4 text-sm text-gray-900 dark:text-black max-w-48">
                    {{ accountability }}
                  </td>

                  <td class="px-6 py-4 text-sm text-gray-900 dark:text-black">
                  </td>

                  <td class="px-6 py-4 text-sm text-gray-900 dark:text-black">
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr class="bg-white border-b dark:bg-gray-200 dark:border-gray-500 hover:bg-gray-50 dark:hover:bg-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-black">
                    Nenhuma prestação cadastrada
                </th>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                  -
                </td>
              </tr>
            {% endif %}     
        </tbody>
    </table>
  
    <div class="flex items-center flex-column flex-wrap md:flex-row justify-end pt-2 pb-4 px-4 bg-gray-200">
      <a
        href="{% url 'accountability:accountability-create' contract.id %}"
        class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Iniciar nova
        <svg class="w-[16px] h-[16px] text-gray-800 dark:text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
        </svg>
      </a>
    </div>
      
</div>
