{% load humanize %}

<div class="my-4 mx-5">
    <p class="text-2xl mb-2 font-bold text-black">Contas Bancárias Cadastradas</p>
</div>

<hr class="h-px mb-8 bg-gray-200 border-0 dark:bg-gray-500">

<div class="my-3 mx-5">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div class="relative">
        <p class="text-xl mb-2 font-bold text-black">Conta Corrente</p>
        {% if contract.checking_account %}
            <b>Banco:</b> {{ contract.checking_account.bank_name }} - {{ contract.checking_account.bank_id }}<br>
            <b>Conta:</b> {{ contract.checking_account.account }}<br>
            <b>Agência:</b> {{ contract.checking_account.agency|default_if_none:"N/A" }}<br>
            <b>Origem da Receita:</b> {{ contract.checking_account.origin }}<br>
            <a
                href="{% url 'bank:bank-accounts-detail' contract.checking_account.id %}"
                class="px-3 py-1 my-4 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
                Visualizar
            </a>
        {% else %}
            <b>Banco:</b> Ainda não cadastrada.<br>
            <b>Conta:</b> -<br>
            <b>Agência:</b> -<br>
        {% endif %}
      </div>

      <div class="relative">
        <p class="text-xl mb-2 font-bold text-black">Conta Investimento</p>
        {% if contract.investing_account %}
            <b>Banco:</b> {{ contract.investing_account.bank_id }} - {{ contract.investing_account.bank_name }}<br>
            <b>Conta:</b> {{ contract.investing_account.account }}<br>
            <b>Agência:</b> {{ contract.investing_account.agency }}<br>
            <b>Origem da Receita:</b> {{ contract.investing_account.origin }}<br>
            <a
                href="{% url 'bank:bank-accounts-detail' contract.investing_account.id %}"
                class="px-3 py-1 my-4 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
                Visualizar
            </a>
        {% else %}
            <b>Banco:</b> Ainda não cadastrada.<br>
            <b>Conta:</b> -<br>
            <b>Agência:</b> -<br>
        {% endif %}    
      </div>

    </div>

    {% if not contract.checking_account or not contract.investing_account %}
        <div class="flex items-center flex-column flex-wrap md:flex-row justify-end pt-4 px-4 bg-gray-200">
        <a
            href="{% url 'contracts:contracts-accounts-auto-create' contract.id %}"
            class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
            Adicionar conta
            <svg class="w-[16px] h-[16px] text-gray-800 dark:text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
            </svg>
        </a>
        </div>
    {% endif %}

</div>
