{% load humanize %}


<h3 class="text-lg font-semibold text-gray-900 mb-4">Aditivos</h3>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
<div class="overflow-x-auto max-h-[400px] scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200">
    <table class="w-full text-sm text-left rtl:text-right text-gray-400">
    <thead class="text-xs text-white uppercase bg-gray-500 sticky top-0 z-30">
        <tr>
        <th scope="col" class="px-4 py-4 font-medium w-[180px] sticky left-0 z-40 bg-gray-500">
            <span class="sr-only">Ações</span>
        </th>
        <th scope="col" class="px-6 py-4 font-medium w-[25%]">
            Início da Vigência
        </th>
        <th scope="col" class="px-6 py-4 font-medium w-[25%]">
            Fim da Vigência
        </th>
        <th scope="col" class="px-6 py-4 font-medium w-[25%]">
            Valor Total
        </th>
        </tr>
    </thead>
    <tbody>
        {% if addendums %}
        {% for addendum in addendums %}
            <tr class="bg-gray-50 border-b hover:bg-gray-200">
            <td class="px-2 py-4 text-base text-sm sticky left-0 z-20 bg-gray-300 hover:bg-gray-400 border-r border-gray-300 w-[180px]">
                <div class="flex gap-1 justify-center">
                {% if addendum.file %}
                    <a
                    href="{{ addendum.file.url }}"
                    target="_blank"
                    class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white rounded-lg focus:ring-4 focus:outline-none bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
                    >
                    <svg class="w-5 h-5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
                    </svg>
                    Download
                    </a>
                {% else %}
                    <span class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-gray-500 rounded-lg bg-gray-200">
                    <svg class="w-5 h-5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-2.5L13.732 4c-.77-.833-1.964-.833-2.732 0L3.732 16.5c-.77.833.192 2.5 1.732 2.5z"/>
                    </svg>
                    Sem arquivo
                    </span>
                {% endif %}
                </div>
            </td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900">
                {{ addendum.start_of_vigency|date:"d/m/Y" }}
            </td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900">
                {{ addendum.end_of_vigency|date:"d/m/Y" }}
            </td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">
                <p class="font-medium">R$ {{ addendum.total_value|intcomma }}</p>
                <p class="mt-1 text-xs text-gray-500">
                  <b>Municipal:</b> R$ {{ addendum.municipal_value|intcomma }}
                </p>
                <p class="mt-1 text-xs text-gray-500">
                  <b>Contrapartida:</b> R$ {{ addendum.counterpart_value|intcomma }}
                </p>
            </td>
            </tr>
        {% endfor %}
        {% else %}
        <tr class="bg-gray-50 border-b hover:bg-gray-200">
            <td colspan="4" class="px-6 py-4 text-sm font-medium text-gray-900 text-center">
            Nenhum aditivo cadastrado
            </td>
        </tr>
        {% endif %}
    </tbody>
    </table>
</div>

{% if contract.is_on_planning %}
  <div class="flex items-center justify-end gap-2 p-4 bg-gray-200">
    <a
      href="{% url 'contracts:contracts-addendum-create' contract.id %}"
      class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white rounded-lg focus:ring-4 focus:outline-none bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
    >
      <svg class="w-5 h-5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
      </svg>
      Adicionar aditivo
    </a>
  </div>
{% endif %}
</div>

<h3 class="text-lg font-semibold text-gray-900 my-4">
    Documentos Diversos
</h3>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
<div class="overflow-x-auto max-h-[400px] scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200">
    <table class="w-full text-sm text-left rtl:text-right text-gray-400">
    <thead class="text-xs text-white uppercase bg-gray-500 sticky top-0 z-30">
        <tr>
        <th scope="col" class="px-4 py-4 font-medium w-[180px] sticky left-0 z-40 bg-gray-500">
            <span class="sr-only">Ações</span>
        </th>
        <th scope="col" class="px-6 py-4 font-medium w-[40%]">
            Nome
        </th>
        <th scope="col" class="px-6 py-4 font-medium w-[30%]">
            Tipo
        </th>
        <th scope="col" class="px-6 py-4 font-medium w-[10%]" />
        </tr>
    </thead>
    <tbody>
        {% if documents %}
        {% for document in documents %}
            <tr class="bg-gray-50 border-b hover:bg-gray-200">
            <td class="px-2 py-4 text-base text-sm sticky left-0 z-20 bg-gray-300 hover:bg-gray-400 border-r border-gray-300 w-[180px]">
                <div class="flex gap-1 justify-center">
                {% if document.file %}
                    <a
                    href="{{ document.file.url }}"
                    target="_blank"
                    class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white rounded-lg focus:ring-4 focus:outline-none bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
                    >
                    <svg class="w-5 h-5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
                    </svg>
                    Download
                    </a>
                {% else %}
                    <span class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-gray-500 rounded-lg bg-gray-200">
                    <svg class="w-5 h-5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-2.5L13.732 4c-.77-.833-1.964-.833-2.732 0L3.732 16.5c-.77.833.192 2.5 1.732 2.5z"/>
                    </svg>
                    Sem arquivo
                    </span>
                {% endif %}

                {% if contract.is_on_planning %}
                    <a
                    href="{% url 'contracts:contracts-document-update' contract.id document.id %}"
                    class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white rounded-lg focus:ring-4 focus:outline-none bg-gray-600 hover:bg-gray-700 focus:ring-gray-800"
                    >
                    <svg class="w-5 h-5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.8-6.8a2 2 0 0 1 2.9 0Z"/>
                    </svg>
                    Editar
                    </a>
                {% endif %}
                </div>
            </td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900">
                {{ document.name }}
            </td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900">
                {{ document.get_type_display }}
            </td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900">
                <a href="{% url 'contracts:contracts-document-delete' document.id %}" class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white rounded-lg focus:ring-4 focus:outline-none bg-red-600 hover:bg-red-700 focus:ring-red-800">
                    <svg class="w-5 h-5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                    </svg>
                    Excluir
                </a>
            </td>
            </tr>
        {% endfor %}
        {% else %}
        <tr class="bg-gray-50 border-b hover:bg-gray-200">
            <td colspan="3" class="px-6 py-4 text-sm font-medium text-gray-900 text-center">
            Nenhum documento cadastrado
            </td>
        </tr>
        {% endif %}
    </tbody>
    </table>
</div>

{% if contract.is_on_planning %}
  <div class="flex items-center justify-end gap-2 p-4 bg-gray-200">
    <a
      href="{% url 'contracts:contracts-document-create' contract.id %}"
      class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white rounded-lg focus:ring-4 focus:outline-none bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
    >
      <svg class="w-5 h-5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
      </svg>
      Adicionar documento
    </a>
  </div>
{% endif %}
</div>
