{% load humanize %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-400">
        <thead class="text-xs text-white uppercase bg-gray-500">
            <tr>
                <th scope="col" class="px-6 py-3 text-center" />
                <th scope="col" class="px-6 py-3 text-center">
                    Período
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Atividades
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Documentos
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Status
                </th>
          </tr>
        </thead>
        <tbody>
            {% if executions.count %}
              {% for execution in executions.all %}
                <tr class="border-b bg-gray-200 border-gray-700 hover:bg-gray-400 text-center">
                  <td scope="row" class="py-4 text-sm whitespace-nowrap text-black">
                    <a
                      href="{% url 'contracts:executions-detail' execution.id %}"
                      class="
                        ml-4
                        px-3
                        py-2
                        text-sm
                        font-medium
                        text-center
                        inline-flex
                        items-center
                        text-white
                        rounded-lg
                        focus:ring-4
                        focus:outline-none
                        bg-blue-600
                        hover:bg-blue-700
                        focus:ring-blue-800
                      "
                    >
                      Conferir
                    </a>
                  </td>

                  <td class="px-6 py-4 text-sm text-black text-left max-w-48">
                    Relatório {{ execution.month_text }} de {{execution.year }}
                  </td>

                  <td class="px-6 py-4 text-sm text-black text-center">
                    {{ execution.count_activities }}
                  </td>

                  <td class="px-6 py-4 text-sm text-black text-center">
                    {{ execution.count_files }}
                  </td>

                  <td class="px-6 py-4 text-sm text-black text-center">
                    {% if execution.status == "WIP" %}
                      <span
                        class="
                          whitespace-nowrap
                          text-xs
                          font-medium
                          me-2
                          px-2.5
                          py-0.5
                          rounded
                          bg-indigo-900
                          text-indigo-100
                        "
                      >
                        Em Andamento
                      </span>
                    {% elif execution.status == "SENT" %}
                      <span
                        class="
                          bg-indigo-100
                          border
                          boder-indigo-500
                          whitespace-nowrap
                          text-indigo-800
                          text-xs
                          font-medium
                          me-2
                          px-2.5
                          py-0.5
                          rounded
                        "
                      >
                        Em análise
                      </span>
                    {% elif execution.status == "CORRECTING" %}
                      <span
                        class="
                          bg-yellow-300
                          border
                          boder-yellow-500
                          whitespace-nowrap
                          text-yellow-800
                          text-xs
                          font-medium
                          me-2
                          px-2.5
                          py-0.5
                          rounded
                        "
                      >
                        Em correção
                      </span>
                    {% elif execution.status == "FINISHED" %}
                      <span
                        class="
                          bg-green-300
                          border
                          boder-green-500
                          whitespace-nowrap
                          text-gray-800
                          text-xs
                          font-medium
                          me-2
                          px-2.5
                          py-0.5
                          rounded
                        "
                      >
                        Finalizado
                      </span>
                    {% endif %}
                  </td>
                </tr>

              {% endfor %}
            {% else %}
              <tr class="border-b bg-gray-200 border-gray-700 hover:bg-gray-400">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-black">
                  Nenhum relatório de execução iniciado
                </th>
                <td class="px-6 py-4">
                  -
                </td>
                <td class="px-6 py-4">
                  -
                </td>
                <td class="px-6 py-4">
                  -
                </td>
                <td class="px-6 py-4">
                  -
                </td>
              </tr>
            {% endif %}     
        </tbody>
    </table>
  
    {% if contract.is_on_execution %}
      <div class="flex items-center flex-column flex-wrap md:flex-row justify-end pt-2 pb-4 px-4 bg-gray-200">
        <a
          href="{% url 'contracts:executions-create' contract.id %}"
          class="
            px-3
            py-2
            text-sm
            font-medium
            text-center
            inline-flex
            items-center
            text-white
            rounded-lg
            focus:ring-4
            focus:outline-none
            bg-blue-600
            hover:bg-blue-700
            focus:ring-blue-800
          "
        >
          Adicionar novo item
          <svg class="w-[16px] h-[16px] text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
          </svg>
        </a>
      </div>
    {% endif %}

</div>
