{% load humanize %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-white uppercase bg-green-50 dark:bg-green-700 dark:text-white">
            <tr>
                <th scope="col" class="px-6 py-3" />
                <th scope="col" class="px-6 py-3">
                    Meta
                </th>
                <th scope="col" class="px-6 py-3">
                    Descrição
                </th>
                <th scope="col" class="px-6 py-3">
                    Submetas
                </th>
                <th scope="col" class="px-6 py-3 flex justify-center">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            {% if contract.goals.count %}
              {% for goal in contract.goals.all %}
                <tr class="bg-white border-b dark:bg-green-200 dark:border-gray-700 hover:bg-green-50 dark:hover:bg-green-400">
                  <td scope="row" class="py-4 text-sm text-gray-900 whitespace-nowrap dark:text-black">

                    {% if user.can_change_statuses %}
                      <!-- goals approve Modal toggle -->
                      <button
                        data-modal-target="goals-update-modal"
                        data-modal-toggle="goals-update-modal"
                        data-item='{"goalId": "{{ goal.id }}"}'
                        class="ml-4 block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-sm rounded-lg text-sm px-3 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        type="button"
                      >
                        Avaliar
                      </button>
                    {% else %}

                      <div class="grid grid-cols-1 gap-0 sm:grid-cols-2">
                        <!-- goals detail Modal toggle -->
                        <button
                          data-modal-target="goals-detail-modal"
                          data-modal-toggle="goals-detail-modal"
                          data-item='{"status": "{{ goal.status_label }}", "pendencies": "{{ goal.status_pendencies|default_if_none:"" }}"}'
                          type="button"
                        >
                          <svg class="w-6 h-6 ml-4 text-gray-800 dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                            <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                          </svg>
                        </button>
                        
                        <a
                          href="{% url 'contracts:contracts-goals-update' contract.id goal.id %}"
                        >
                          <svg class="w-6 h-6 text-gray-800 dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
                          </svg>
                        </a>
                      </div>         
                    {% endif %}
                  </td>

                  <th class="pl-2 pr-6 py-4 text-sm text-gray-900 whitespace-nowrap dark:text-black max-w-48">
                    {{ goal.name }}
                  </th>

                  <td class="px-6 py-4 text-sm text-gray-900 dark:text-black max-w-48">
                    {{ goal.description }}
                  </td>

                  <td class="px-6 py-4 text-sm text-gray-900 dark:text-black max-w-48">
                    {% if goal.sub_goals.count %}
                      {% for sub_goal in goal.sub_goals.all %}  
                        <p> - {{ sub_goal.name }}</p>
                      {% endfor %}
                    {% else %}
                      <p> - Sem submetas cadastradas </p>
                    {% endif %}
                  </td>

                  <td class="px-6 py-4 flex justify-center align-center text-sm text-gray-900 dark:text-black">
                    {% if goal.status == "ANALYZING" %}
                      <span
                        class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-100"
                      >
                        Em análise
                      </span>
                    {% elif goal.status == "CORRECTING" %}
                      <span
                        class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Em correção
                      </span>
                    {% elif goal.status == "APPROVED" %}
                      <span
                        class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Aprovado
                      </span>
                    {% elif goal.status == "APPROVED_WITH_PENDENCE" %}
                      <span
                        class="bg-yellow-300 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Pendências
                      </span>
                    {% elif goal.status == "REJECTED" %}
                      <span
                        class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Rejeitado
                      </span>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr class="bg-white border-b dark:bg-green-200 dark:border-gray-700 hover:bg-green-50 dark:hover:bg-green-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-black">
                    Nenhum resultado encontrado
                </th>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                  -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
              </tr>
            {% endif %}     
        </tbody>
    </table>
  
    {% if user.has_admin_access %}
      <div class="flex items-center flex-column flex-wrap md:flex-row justify-end pt-2 pb-4 px-4 bg-green-200">
        <a
          href="{% url 'contracts:contracts-goals-create' contract.id %}"
          class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Adicionar nova meta
          <svg class="w-[16px] h-[16px] text-gray-800 dark:text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
          </svg>
        </a>
      </div>
    {% endif %}
      
</div>

<!-- goals approve modal -->
<div
    id="goals-update-modal"
    tabindex="-1"
    data-modal-backdrop="static"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                  Selecione uma opção
              </h3>
              <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="goals-update-modal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Fechar modal</span>
              </button>
          </div>
          <!-- Modal body -->
          <div class="p-4 md:p-5">
              <form class="space-y-4"  method="post">

                  <div>
                      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                      <input type="hidden" name="form_type" value="goals_modal">
                      <input type="hidden" id="goalId" name="goalId">

                      <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Escolha uma opção</label>
                      <select
                          id="status"
                          name="status"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      >
                        <option selected value="APPROVED">Aprovado</option>
                        <option value="APPROVED_WITH_PENDENCE">Pendências</option>
                        <option value="CORRECTING">Corrigir</option>
                        <option value="REJECTED">Rejeitado</option>
                      </select>
                  </div>

                  <div>
                      <label for="pendencies" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Detalhes</label>
                      <textarea
                          id="pendencies"
                          name="pendencies"
                          rows="4"
                          maxlength="254"
                          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          placeholder="....."
                      ></textarea>
                      <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                          Escreva as pendências ou razão para a rejeição
                      </p>
                  </div>
                  <button
                      type="submit"
                      class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >
                      Salvar Análise
                  </button>
              </form>
          </div>
      </div>
  </div>
</div> 

<!-- goals detail modal -->
<div
    id="goals-detail-modal"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                  Detalhes da Meta
              </h3>
              <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="goals-detail-modal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Fechar modal</span>
              </button>
          </div>
          <!-- Modal body -->
          <div class="p-4 md:p-5">
            <div>
                <label for="modalGoalStatus" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Detalhes da Meta</label>
                <select
                    id="modalGoalStatus"
                    disabled
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                  <option value="">Selecione</option>
                </select>
            </div>

            <div>
                <label for="modalGoalPendencies" class="block my-2 text-sm font-medium text-gray-900 dark:text-white">Detalhes</label>
                <textarea
                    id="modalGoalPendencies"
                    name="modalGoalPendencies"
                    rows="4"
                    maxlength="254"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    disabled
                ></textarea>
            </div>
          </div>
      </div>
  </div>
</div> 

<!-- JavaScript -->
<script>
  document.querySelectorAll('[data-modal-toggle="goals-detail-modal"]').forEach(button => {
    button.addEventListener('click', () => {
      const goalData = JSON.parse(button.getAttribute('data-item'));

      document.getElementById('modalGoalStatus').innerHTML = `<option value="${goalData.status}" selected>${goalData.status}</option>`;
      document.getElementById('modalGoalPendencies').value = goalData.pendencies || "";
    });
  });

  document.querySelectorAll('[data-modal-toggle="goals-update-modal"]').forEach(button => {
    button.addEventListener('click', () => {
      const goalData = JSON.parse(button.getAttribute('data-item'));
      document.getElementById('goalId').value = goalData.goalId;
    });
  });
</script>
