{% load humanize %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-white uppercase bg-gray-50 dark:bg-gray-500 dark:text-white">
            <tr>
                <th scope="col" class="px-6 py-3" />
                <th scope="col" class="px-6 py-3">
                    Meta
                </th>
                <th scope="col" class="px-6 py-3">
                    Objetivo
                </th>
                <th scope="col" class="px-6 py-3">
                    Etapas
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            {% if contract.goals.count %}
              {% for goal in contract.goals.all %}
                <tr class="bg-white border-b dark:bg-gray-200 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-400">
                  <td scope="row" class="py-4 text-sm text-gray-900 whitespace-nowrap dark:text-black">

                    {% if user.can_change_statuses %}
                      <!-- goals approve Modal toggle -->
                      <button
                        data-modal-target="goals-modal-{{ goal.id}}"
                        data-modal-toggle="goals-modal-{{ goal.id}}"
                        class="ml-4 block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-sm rounded-lg text-sm px-3 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        type="button"
                      >
                        Avaliar
                      </button>
                    {% else %}

                      <div class="grid grid-cols-1 gap-0 sm:grid-cols-2">
                        <!-- goals detail Modal toggle -->
                        <button
                          data-modal-target="goals-modal-{{ goal.id}}"
                          data-modal-toggle="goals-modal-{{ goal.id}}"
                          type="button"
                        >
                          <svg class="w-6 h-6 ml-4 text-gray-800 dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                            <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                          </svg>
                        </button>
                        
                        <a
                          href="{% url 'contracts:contracts-goals-update' contract.id goal.id %}"
                        >
                          <svg class="w-6 h-6 text-gray-800 dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
                          </svg>
                        </a>
                      </div>         
                    {% endif %}
                  </td>

                  <th class="pl-2 pr-6 py-4 text-sm text-gray-900 whitespace-nowrap dark:text-black max-w-48">
                    {{ goal.name }}
                  </th>

                  <td class="px-6 py-4 text-sm text-gray-900 dark:text-black max-w-48">
                    {{ goal.objective }}
                  </td>

                  <td class="px-6 py-4 text-sm text-gray-900 dark:text-black max-w-48">
                    {% if goal.steps.count %}
                      {% for step in goal.steps.all %}  
                        <p> - {{ step.name }}</p>
                      {% endfor %}
                    {% else %}
                      <p> - Sem etapas cadastradas </p>
                    {% endif %}
                  </td>

                  <td class="px-6 py-4 align-center text-sm text-gray-900 dark:text-black">
                    {% if goal.status == "ANALYZING" %}
                      <span
                        class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-100"
                      >
                        Em análise
                      </span>
                    {% elif goal.status == "CORRECTING" %}
                      <span
                        class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Em correção
                      </span>
                    {% elif goal.status == "APPROVED" %}
                      <span
                        class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Aprovado
                      </span>
                    {% elif goal.status == "APPROVED_WITH_PENDENCE" %}
                      <span
                        class="bg-yellow-300 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Pendências
                      </span>
                    {% elif goal.status == "REJECTED" %}
                      <span
                        class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Rejeitado
                      </span>
                    {% endif %}
                  </td>
                </tr>

                <!-- goals approve modal -->
                <div
                    id="goals-modal-{{ goal.id }}"
                    tabindex="-1"
                    data-modal-backdrop="static"
                    aria-hidden="true"
                    class="
                      hidden
                      overflow-y-auto
                      overflow-x-hidden
                      fixed
                      top-0
                      right-0
                      left-0
                      z-50
                      justify-center
                      items-center
                      w-full
                      md:inset-0
                      h-[calc(100%-1rem)]
                      max-h-full
                    "
                >
                  <div class="relative p-4 w-full max-w-md max-h-full">
                      <!-- Modal content -->
                      <div class="relative rounded-lg shadow bg-gray-300">
                        <!-- Modal header -->
                          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                              <h3 class="text-xl font-semibold text-black">
                                  Selecione uma opção
                              </h3>
                              <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-black" data-modal-hide="goals-modal-{{ goal.id }}">
                                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                  </svg>
                                  <span class="sr-only">Fechar modal</span>
                              </button>
                          </div>
                          <!-- Modal body -->
                          <div class="p-4 md:p-5">
                              <form class="space-y-4"  method="post">

                                  <div>
                                      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                      <input type="hidden" name="form_type" value="goals_modal">
                                      <input type="hidden" name="goal_id" value="{{ goal.id }}">

                                      <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Escolha uma opção</label>
                                      <select
                                          id="goal-status-select"
                                          name="status"
                                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-00 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                          {% if not user.can_change_statuses %}
                                          disabled
                                          {% endif %}
                                      >
                                        <option value="ANALYZING">Em análise</option>
                                        <option value="APPROVED">Aprovado</option>
                                        <option value="APPROVED_WITH_PENDENCE">Pendências</option>
                                        <option value="CORRECTING">Corrigir</option>
                                        <option value="REJECTED">Rejeitado</option>
                                      </select>
                                  </div>

                                  <hr class="h-px my-4 border-0 bg-gray-500">

                                  <b class="mt-2 inline-flex text-center">HISTÓRICO DE COMENTÁRIOS</b>

                                  <div class="h-64 w-full overflow-y-scroll rounded-lg p-4">
                                    {% if not goal.last_reviews %}
                                      <div class="flex items-start gap-2.5 mb-4">
                                        <svg class="w-6 h-6 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                          <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                                        </svg>
                                        <div class="flex flex-col gap-1 w-full max-w-[320px]">
                                          <div class="flex items-center space-x-2 rtl:space-x-reverse">
                                              <span class="text-sm font-semibold text-black">----</span>
                                              <span class="text-sm font-normal text-gray-600">00:00</span>
                                          </div>
                                          <div class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl">
                                            <p class="text-sm font-normal text-gray-900 dark:text-black">Sem nenhum comentário...</p>
                                          </div>
                                        </div>
                                      </div>
                                    {% endif %}

                                    {% for review in goal.last_reviews %}
                                      {% if review.reviewer.id == user.id%}
                                        <div class="flex items-start gap-2.5 mb-4 flex-row-reverse">
                                          <svg class="w-6 h-6 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                                          </svg>
                                          <div class="flex flex-col gap-1 w-full max-w-[320px]">
                                            <div class="flex items-center justify-end space-x-2 rtl:space-x-reverse">
                                              <span class="text-sm font-normal text-gray-600">{{ review.created_at|time:"H:i" }} - {{ review.created_at|date:"d/m/Y" }}</span>
                                              <span class="text-sm font-semibold text-black">{{ review.reviewer.get_full_name }}</span>
                                            </div>
                                            <div class="flex flex-col leading-1.5 p-4 border border-gray-200 bg-blue-100 rounded-b-xl rounded-tl-xl">
                                              <p class="text-sm font-normal text-gray-900 dark:text-black">{{ review.comment }}</p>
                                            </div>
                                          </div>
                                        </div>
                                      {% else %}
                                        <div class="flex items-start gap-2.5 mb-4">
                                          <svg class="w-6 h-6 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                                          </svg>
                                          <div class="flex flex-col gap-1 w-full max-w-[320px]">
                                            <div class="flex items-center space-x-2 rtl:space-x-reverse">
                                                <span class="text-sm font-semibold text-black">{{ review.created_at|time:"H:i" }} - {{ review.created_at|date:"d/m/Y" }}</span>
                                                <span class="text-sm font-normal text-gray-600">{{ review.reviewer.get_full_name }}</span>
                                            </div>
                                            <div class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl">
                                              <p class="text-sm font-normal text-gray-900 dark:text-black">{{ review.comment }}</p>
                                            </div>
                                          </div>
                                        </div>
                                      {% endif %}
                                    {% endfor %}
                                  </div>

                                  <div>
                                      <label for="comment" class="block mb-2 text-sm font-medium text-black">Comentários</label>
                                      <textarea
                                          id="comment"
                                          name="comment"
                                          rows="4"
                                          maxlength="254"
                                          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-00 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                          placeholder="....."
                                      ></textarea>
                                      <p id="helper-text-explanation" class="my-2 text-sm text-gray-800">
                                        Adicionar um novo comentário
                                      </p>
                                  </div>
                                  <button
                                      type="submit"
                                      class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                  >
                                      Atualizar
                                  </button>
                              </form>
                          </div>
                      </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <tr class="bg-white border-b dark:bg-gray-200 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-black">
                    Nenhuma meta cadastrada
                </th>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                  -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
              </tr>
            {% endif %}     
        </tbody>
    </table>
  
    {% if user.has_admin_access %}
      <div class="flex items-center flex-column flex-wrap md:flex-row justify-end pt-2 pb-4 px-4 bg-gray-200">
        <a
          href="{% url 'contracts:contracts-goals-create' contract.id %}"
          class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Adicionar nova meta
          <svg class="w-[16px] h-[16px] text-gray-800 dark:text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
          </svg>
        </a>
      </div>
    {% endif %}
      
</div>
