{% load humanize %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-400">
        <thead class="text-xs uppercase bg-gray-500 text-white">
            <tr>
                <th scope="col" class="px-6 py-3" />
                <th scope="col" class="px-6 py-3 text-center ">
                    Meta
                </th>
                <th scope="col" class="px-6 py-3 text-center ">
                    Objetivo
                </th>
                <th scope="col" class="px-6 py-3 text-center ">
                    Status
                </th>
                <th />
            </tr>
        </thead>
        <tbody>
            {% if contract.goals.count %}
              {% for goal in contract.goals.all %}
                <tr class="border-b bg-gray-200 border-gray-700 hover:bg-gray-400">
                  <td
                    scope="row"
                    class="text-sm text-black max-w-24"
                  >

                    {% if user.can_change_statuses and contract.is_on_planning %}
                      <!-- goals approve Modal toggle -->
                      <button
                        data-modal-target="goals-modal-{{ goal.id}}"
                        data-modal-toggle="goals-modal-{{ goal.id}}"
                        class="
                          block
                          text-white
                          focus:ring-4
                          focus:outline-none
                          font-sm
                          rounded-lg
                          text-sm
                          px-3
                          py-2.5
                          text-center
                          bg-blue-600
                          hover:bg-blue-700
                          focus:ring-blue-800
                          flex
                          justify-self-center
                        "
                        type="button"
                      >
                        Avaliar
                      </button>
                    {% elif contract.is_on_planning %}
                      <div class="grid grid-cols-1 gap-0 sm:grid-cols-2">
                        <!-- goals detail Modal toggle -->
                        <a>
                          <button
                            data-modal-target="goals-modal-{{ goal.id}}"
                            data-modal-toggle="goals-modal-{{ goal.id}}"
                            type="button"
                            class="
                              text-white
                              ml-4
                              bg-blue-600
                              hover:bg-blue-600
                              focus:ring-4
                              focus:outline-none
                              focus:ring-blue-600
                              font-medium
                              rounded-full
                              text-xs
                              mt-2
                              px-2.5
                              py-1
                              text-center
                              inline-flex
                              items-center
                              me-2
                            "
                          >
                            Detalhes
                          </button>
                        </a>
                        
                        {% if contract.is_on_planning and not user.is_committee_member %}
                          <a
                            href="{% url 'contracts:contracts-goals-update' contract.id goal.id %}"
                          >
                            <button
                              type="button"
                              class="
                                text-white
                                ml-4
                                bg-blue-600
                                hover:bg-blue-600
                                focus:ring-4
                                focus:outline-none
                                focus:ring-blue-600
                                font-medium
                                rounded-full
                                text-xs
                                mt-2
                                px-2.5
                                py-1
                                text-center
                                inline-flex
                                items-center
                                me-2
                              "
                            >
                              Editar
                            </button>
                          </a>
                        {% endif %}
                      </div>         
                    {% endif %}
                  </td>

                  <th class="pl-2 pr-6 py-4 text-sm whitespace-nowrap text-center text-black max-w-48">
                    {{ goal.name }}
                  </th>

                  <td class="px-6 py-4 text-sm text-black text-center max-w-48">
                    {{ goal.objective }}
                  </td>

                  <td class="px-6 py-4 align-center text-sm text-center text-black">
                    {% if goal.status == "ANALYZING" %}
                      <span
                        class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-100"
                      >
                        Em análise
                      </span>
                    {% elif goal.status == "CORRECTING" %}
                      <span
                        class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Em correção
                      </span>
                    {% elif goal.status == "APPROVED" %}
                      <span
                        class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Aprovado
                      </span>
                    {% elif goal.status == "APPROVED_WITH_PENDENCE" %}
                      <span
                        class="bg-yellow-300 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Pendências
                      </span>
                    {% elif goal.status == "REJECTED" %}
                      <span
                        class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Rejeitado
                      </span>
                    {% endif %}
                  </td>
                  
                  <td class="pr-3 py-4 flex justify-end">
                    <button 
                      class="expand-btn text-blue-600 hover:underline mr-2 flex items-center" 
                      data-target="#details-{{ goal.id }}"
                      >
                      Ver Etapas
                      <svg data-accordion-icon class="ml-2 pl-2 w-4 h-4 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                      </svg>
                    </button>
                  </td>

                </tr>
                <tr id="details-{{ goal.id }}" class="hidden bg-gray-300">
                  <td colspan="6" class="px-6 py-4 ml-4 text-sm text-black text-left">
                    {% if goal.steps.count %}
                      {% for step in goal.steps.all %}
                        <div class="grid grid-cols-1 gap-6 sm:grid-cols-4 pb-3">
                          <p><strong>Etapa:</strong> {{ step.name }}</p>
                          <p><strong>Objetivo:</strong> {{ step.objective }}</p>
                          <p><strong>Metodologia:</strong> {{ step.methodology }}</p>
                          <p><strong>Recursos:</strong> {{ step.resources }}</p>
                        </div>

                        <hr class="h-px mb-3 border-0 bg-gray-500">
                      {% endfor%}
                    {% else %}
                      Sem etapas cadastradas
                    {% endif %}
                  </td>
                </tr>

                {% if user.can_change_statuses and contract.is_on_planning %}
                <!-- goals approve modal -->
                <div
                    id="goals-modal-{{ goal.id }}"
                    tabindex="-1"
                    data-modal-backdrop="static"
                    aria-hidden="true"
                    class="
                      hidden
                      overflow-y-auto
                      overflow-x-hidden
                      fixed
                      top-0
                      right-0
                      left-0
                      z-50
                      justify-center
                      items-center
                      w-full
                      md:inset-0
                      h-[calc(100%-1rem)]
                      max-h-full
                    "
                >
                  <div class="relative p-4 w-full max-w-md max-h-full">
                      <!-- Modal content -->
                      <div class="relative rounded-lg shadow bg-gray-300">
                        <!-- Modal header -->
                          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600">
                              <h3 class="text-xl font-semibold text-black">
                                  Selecione uma opção
                              </h3>
                              <button
                                type="button"
                                class="
                                  end-2.5
                                  text-gray-400
                                  bg-transparent
                                  rounded-lg
                                  text-sm
                                  w-6
                                  h-6
                                  ms-auto
                                  inline-flex
                                  justify-center
                                  items-center
                                  hover:bg-gray-600
                                  hover:text-black
                                "
                                data-modal-hide="goals-modal-{{ goal.id }}"
                              >
                                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                  </svg>
                                  <span class="sr-only">Fechar modal</span>
                              </button>
                          </div>
                          <!-- Modal body -->
                          <div class="p-4 md:p-5">
                              <form class="space-y-4"  method="post">

                                  <div>
                                      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                      <input type="hidden" name="form_type" value="goals_modal">
                                      <input type="hidden" name="goal_id" value="{{ goal.id }}">

                                      <label for="status" class="block mb-2 text-sm font-medium text-black">Escolha uma opção</label>
                                      <select
                                          id="goal-status-select"
                                          name="status"
                                          class="
                                            border
                                            text-sm
                                            rounded-lg
                                            block
                                            w-full
                                            p-2.5
                                            bg-gray-50
                                            border-gray-600
                                            placeholder-gray-400
                                            text-black
                                            focus:ring-blue-500
                                            focus:border-blue-500
                                          "
                                          {% if not user.can_change_statuses %}
                                          disabled
                                          {% endif %}
                                      >
                                        <option value="ANALYZING">Em análise</option>
                                        <option value="APPROVED">Aprovado</option>
                                        <option value="APPROVED_WITH_PENDENCE">Pendências</option>
                                        <option value="CORRECTING">Corrigir</option>
                                        <option value="REJECTED">Rejeitado</option>
                                      </select>
                                  </div>

                                  <hr class="h-px my-4 border-0 bg-gray-500">

                                  <b class="mt-2 inline-flex text-center">HISTÓRICO DE COMENTÁRIOS</b>

                                  <div class="h-64 w-full overflow-y-scroll rounded-lg p-4">
                                    {% if not goal.last_reviews %}
                                      <div class="flex items-start gap-2.5 mb-4">
                                        <svg class="w-6 h-6 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                          <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                                        </svg>
                                        <div class="flex flex-col gap-1 w-full max-w-[320px]">
                                          <div class="flex items-center space-x-2 rtl:space-x-reverse">
                                              <span class="text-sm font-semibold text-black">----</span>
                                              <span class="text-sm font-normal text-gray-600">00:00</span>
                                          </div>
                                          <div class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl">
                                            <p class="text-sm font-normal text-black">Sem nenhum comentário...</p>
                                          </div>
                                        </div>
                                      </div>
                                    {% endif %}

                                    {% for review in goal.last_reviews %}
                                      {% if review.reviewer.id == user.id%}
                                        <div class="flex items-start gap-2.5 mb-4 flex-row-reverse">
                                          <svg class="w-6 h-6 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                                          </svg>
                                          <div class="flex flex-col gap-1 w-full max-w-[320px]">
                                            <div class="flex items-center justify-end space-x-2 rtl:space-x-reverse">
                                              <span class="text-sm font-normal text-gray-600">{{ review.created_at|time:"H:i" }} - {{ review.created_at|date:"d/m/Y" }}</span>
                                              <span class="text-sm font-semibold text-black">{{ review.reviewer.get_full_name }}</span>
                                            </div>
                                            <div class="flex flex-col leading-1.5 p-4 border border-gray-200 bg-blue-100 rounded-b-xl rounded-tl-xl">
                                              <p class="text-sm font-normal text-black">{{ review.comment }}</p>
                                            </div>
                                          </div>
                                        </div>
                                      {% else %}
                                        <div class="flex items-start gap-2.5 mb-4">
                                          <svg class="w-6 h-6 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                                          </svg>
                                          <div class="flex flex-col gap-1 w-full max-w-[320px]">
                                            <div class="flex items-center space-x-2 rtl:space-x-reverse">
                                                <span class="text-sm font-semibold text-black">{{ review.created_at|time:"H:i" }} - {{ review.created_at|date:"d/m/Y" }}</span>
                                                <span class="text-sm font-normal text-gray-600">{{ review.reviewer.get_full_name }}</span>
                                            </div>
                                            <div class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl">
                                              <p class="text-sm font-normal text-black">{{ review.comment }}</p>
                                            </div>
                                          </div>
                                        </div>
                                      {% endif %}
                                    {% endfor %}
                                  </div>

                                  <div>
                                      <label for="comment" class="block mb-2 text-sm font-medium text-black">Comentários</label>
                                      <textarea
                                          id="comment"
                                          name="comment"
                                          rows="4"
                                          maxlength="254"
                                          class="
                                            block
                                            p-2.5
                                            w-full
                                            text-sm
                                            rounded-lg
                                            border
                                            border-gray-600
                                            placeholder-gray-400
                                            text-black
                                            focus:ring-blue-500
                                            focus:border-blue-500
                                          "
                                          placeholder="....."
                                      ></textarea>
                                      <p id="helper-text-explanation" class="my-2 text-sm text-gray-800">
                                        Adicionar um novo comentário
                                      </p>
                                  </div>
                                  <button
                                      type="submit"
                                      class="
                                        w-full
                                        text-white
                                        focus:ring-4
                                        focus:outline-none
                                        font-medium
                                        rounded-lg
                                        text-sm
                                        px-5
                                        py-2.5
                                        text-center
                                        bg-blue-600
                                        hover:bg-blue-700
                                        focus:ring-blue-800
                                      "
                                  >
                                      Atualizar
                                  </button>
                              </form>
                          </div>
                      </div>
                  </div>
                </div>
                {% endif %}

              {% endfor %}
            {% else %}
              <tr class="border-b bg-gray-200 border-gray-700 hover:bg-gray-400">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-black">
                    Nenhuma meta cadastrada
                </th>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4" />
              </tr>
            {% endif %}     
        </tbody>
    </table>

    {% if contract.is_on_planning %}
      <div class="flex items-center flex-column flex-wrap md:flex-row justify-end pt-2 pb-4 px-4 bg-gray-400">
        <a
          href="{% url 'contracts:contracts-goals-create' contract.id %}"
          class="
            px-3
            py-2
            text-sm
            font-medium
            text-center
            inline-flex
            items-center
            text-white
            rounded-lg
            focus:ring-4
            focus:outline-none
            bg-blue-600
            hover:bg-blue-700
            focus:ring-blue-800
          "
        >
          Adicionar nova meta
          <svg class="w-[16px] h-[16px] text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
          </svg>
        </a>
      </div>
    {% endif %}
      
</div>


<script>
  document.querySelectorAll('.expand-btn').forEach(button => {
    button.addEventListener('click', () => {
      const target = document.querySelector(button.dataset.target);
      target.classList.toggle('hidden');
    });
  });
</script>