{% load humanize %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-400">
        <thead class="text-xs uppercase bg-gray-500 text-white">
            <tr>
                <th scope="col" class="px-6 py-3" />
                <th scope="col" class="px-6 py-3 text-center">
                    Item
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Natureza
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Período (meses)
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Unidade
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Quantidade
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Custo Mensal
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Custo Total
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Status
                </th>
          </tr>
        </thead>
        <tbody>
            {% if contract.items.count %}
              {% for item in contract.items.all %}
                <tr class="border-b bg-gray-200 border-gray-700 hover:bg-gray-400 text-center align-center">
                  <td
                    scope="row"
                    class="text-sm text-black w-24 py-2 inline-flex"
                  >
                    {% if not user.can_change_statuses %}
                      <!-- items approve Modal toggle -->
                      <button
                        data-modal-target="items-modal-{{ item.id }}"
                        data-modal-toggle="items-modal-{{ item.id }}"
                        class="
                          ml-4
                          block
                          text-white
                          bg-blue-600
                          hover:bg-blue-700
                          focus:ring-blue-800
                          focus:ring-4
                          focus:outline-none
                          font-sm
                          rounded-lg
                          text-sm
                          px-3
                          py-2.5
                          text-center
                        "
                        type="button"
                      >
                        Avaliar
                      </button>
                    {% else %}

                      <div class="grid grid-cols-1 gap-0 sm:grid-cols-2">
                        <a>
                          <button
                            data-modal-target="items-modal-{{ item.id }}"
                            data-modal-toggle="items-modal-{{ item.id }}"
                            type="button"
                            class="
                              text-white
                              ml-4
                              bg-blue-600
                              hover:bg-blue-600
                              focus:ring-4
                              focus:outline-none
                              focus:ring-blue-600
                              font-medium
                              rounded-full
                              text-xs
                              mt-2
                              px-2.5
                              py-1
                              text-center
                              inline-flex
                              items-center
                              me-2
                            "
                          >
                            Detalhes
                          </button>
                        </a>
                        
                        {% if contract.is_on_planning %}
                        <br>
                        <a
                          href="{% url 'contracts:contracts-item-update' contract.id item.id %}"
                        >
                          <button
                            type="button"
                            class="
                              text-white
                              ml-4
                              bg-blue-600
                              hover:bg-blue-600
                              focus:ring-4
                              focus:outline-none
                              focus:ring-blue-600
                              font-medium
                              rounded-full
                              text-xs
                              mt-2
                              px-2.5
                              py-1
                              text-center
                              inline-flex
                              items-center
                              me-2
                            "
                          >
                            Editar
                          </button>
                        {% endif %}
                      </div>         
                    {% endif %}
                  </td>

                  <th class="px-6 py-4 text-sm text-black max-w-48">
                    {{ item.name }}
                  </th>

                  <td class="px-6 py-4 text-sm text-black max-w-48">
                    {{ item.nature_label }}
                  </td>

                  <td class="px-6 py-4 text-sm text-black">
                    {{ item.month_quantity }}
                  </td>

                  <td class="px-6 py-4 text-sm text-black">
                    {{ item.unit_type }}
                  </td>

                  <td class="px-6 py-4 text-sm text-black">
                    {{ item.quantity }}<b>
                  </td>

                  <td class="px-6 py-4 text-sm text-black">
                    R$ <b>{{ item.month_expense|intcomma }}<b>
                  </td>

                  <td class="px-6 py-4 text-sm text-black">
                    R$ <b>{{ item.anual_expense|intcomma }}<b>
                  </td>

                  <td class="px-6 py-4 text-sm text-black">
                    {% if item.status == "ANALYZING" %}
                      <span
                        class="
                          whitespace-nowrap
                          bg-indigo-900
                          text-indigo-100
                          text-xs
                          font-medium
                          me-2
                          px-2.5
                          py-0.5
                          rounded
                        "
                      >
                        Em análise
                      </span>
                    {% elif item.status == "CORRECTING" %}
                      <span
                        class="bg-indigo-100 whitespace-nowrap text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Em correção
                      </span>
                    {% elif item.status == "APPROVED" %}
                      <span
                        class="bg-gray-100 whitespace-nowrap text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Aprovado
                      </span>
                    {% elif item.status == "APPROVED_WITH_PENDENCE" %}
                      <span
                        class="bg-yellow-300 whitespace-nowrap text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Pendências
                      </span>
                    {% elif item.status == "REJECTED" %}
                      <span
                        class="bg-red-100 whitespace-nowrap text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
                      >
                        Rejeitado
                      </span>
                    {% endif %}
                  </td>
                </tr>

                <div
                    id="items-modal-{{ item.id }}"
                    tabindex="-1"
                    data-modal-backdrop="static"
                    aria-hidden="true"
                    class="
                      hidden
                      overflow-y-auto
                      overflow-x-hidden
                      fixed
                      top-0
                      right-0
                      left-0
                      z-50
                      justify-center
                      items-center
                      w-full
                      md:inset-0
                      h-[calc(100%-1rem)]
                      max-h-full
                    "
                >
                  <div class="relative p-4 w-full max-w-md max-h-full">
                      <!-- Modal content -->
                      <div class="relative rounded-lg shadow bg-gray-300">
                          <!-- Modal header -->
                          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600">
                              <h3 class="text-xl font-semibold text-black">
                                  Selecione uma opção
                              </h3>
                              <button
                                type="button"
                                class="
                                  end-2.5
                                  text-gray-400
                                  bg-transparent
                                  hover:bg-gray-600
                                  hover:text-black
                                  rounded-lg
                                  text-sm
                                  w-6
                                  h-6
                                  ms-auto
                                  inline-flex
                                  justify-center
                                  items-center
                                "
                                data-modal-hide="items-modal-{{ item.id }}"
                              >
                                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                  </svg>
                                  <span class="sr-only">Fechar modal</span>
                              </button>
                          </div>
                          <!-- Modal body -->
                          <div class="p-4 md:p-5">
                              <form class="space-y-4"  method="post">

                                  <div>
                                      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                      <input type="hidden" name="form_type" value="items_modal">
                                      <input type="hidden" name="item_id" value="{{ item.id }}">

                                      <label class="block mb-2 text-sm font-medium text-black">Escolha uma opção</label>
                                      <select
                                          id="item-status-select"
                                          name="status"
                                          class="
                                            border
                                            text-sm
                                            rounded-lg
                                            block
                                            w-full
                                            p-2.5
                                            border-gray-600
                                            placeholder-gray-400
                                            text-black
                                            focus:ring-blue-500
                                            focus:border-blue-500
                                          "
                                          {% if not user.can_change_statuses %}
                                          disabled
                                          {% endif %}
                                      >
                                        <option value="ANALYZING">Em análise</option>
                                        <option value="APPROVED">Aprovado</option>
                                        <option value="APPROVED_WITH_PENDENCE">Pendências</option>
                                        <option value="CORRECTING">Corrigir</option>
                                        <option value="REJECTED">Rejeitado</option>
                                      </select>
                                  </div>

                                  <hr class="h-px my-4 border-0 bg-gray-500">

                                  <b class="mt-2 inline-flex text-center">HISTÓRICO DE COMENTÁRIOS</b>

                                  <div class="h-64 w-full overflow-y-scroll rounded-lg p-4">
                                    {% if not item.last_reviews %}
                                      <div class="flex items-start gap-2.5 mb-4">
                                        <svg class="w-6 h-6 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                          <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                                        </svg>
                                        <div class="flex flex-col gap-1 w-full max-w-[320px]">
                                          <div class="flex items-center space-x-2 rtl:space-x-reverse">
                                              <span class="text-sm font-semibold text-black">----</span>
                                              <span class="text-sm font-normal text-gray-600">00:00</span>
                                          </div>
                                          <div class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl">
                                            <p class="text-sm font-normal text-black">Sem nenhum comentário...</p>
                                          </div>
                                        </div>
                                      </div>
                                    {% endif %}

                                    {% for review in item.last_reviews %}
                                      {% if review.reviewer.id == user.id%}
                                        <div class="flex items-start gap-2.5 mb-4 flex-row-reverse">
                                          <svg class="w-6 h-6 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                                          </svg>
                                          <div class="flex flex-col gap-1 w-full max-w-[320px]">
                                            <div class="flex items-center justify-end space-x-2 rtl:space-x-reverse">
                                              <span class="text-sm font-normal text-gray-600">{{ review.created_at|time:"H:i" }} - {{ review.created_at|date:"d/m/Y" }}</span>
                                              <span class="text-sm font-semibold text-black">{{ review.reviewer.get_full_name }}</span>
                                            </div>
                                            <div class="flex flex-col leading-1.5 p-4 border border-gray-200 bg-blue-100 rounded-b-xl rounded-tl-xl">
                                              <p class="text-sm font-normal text-black">{{ review.comment }}</p>
                                            </div>
                                          </div>
                                        </div>
                                      {% else %}
                                        <div class="flex items-start gap-2.5 mb-4">
                                          <svg class="w-6 h-6 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                                          </svg>
                                          <div class="flex flex-col gap-1 w-full max-w-[320px]">
                                            <div class="flex items-center space-x-2 rtl:space-x-reverse">
                                                <span class="text-sm font-semibold text-black">{{ review.created_at|time:"H:i" }} - {{ review.created_at|date:"d/m/Y" }}</span>
                                                <span class="text-sm font-normal text-gray-600">{{ review.reviewer.get_full_name }}</span>
                                            </div>
                                            <div class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl">
                                              <p class="text-sm font-normal text-black">{{ review.comment }}</p>
                                            </div>
                                          </div>
                                        </div>
                                      {% endif %}
                                    {% endfor %}
                                  </div>

                                  <div>
                                      <label for="comment" class="block my-2 text-sm font-medium text-black">Comentários</label>
                                      <textarea
                                          id="comment"
                                          name="comment"
                                          rows="4"
                                          maxlength="254"
                                          class="
                                            block
                                            p-2.5
                                            w-full
                                            text-sm
                                            rounded-lg
                                            border
                                            border-gray-600
                                            placeholder-gray-400
                                            text-black
                                            focus:ring-blue-500
                                            focus:border-blue-500
                                          "
                                          placeholder="....."
                                      ></textarea>
                                      <p id="helper-text-explanation" class="my-2 text-sm text-gray-800">
                                          Adicionar um novo comentário
                                      </p>
                                  </div>
                                  <button
                                      type="submit"
                                      class="
                                        w-full
                                        text-white
                                        bg-blue-600
                                        hover:bg-blue-700
                                        focus:ring-blue-800
                                        focus:ring-4
                                        focus:outline-none
                                        font-medium
                                        rounded-lg
                                        text-sm
                                        px-5
                                        py-2.5
                                        text-center
                                      "
                                  >
                                      Atualizar
                                  </button>
                              </form>
                          </div>
                      </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <tr
                class="
                  border-b
                  bg-gray-200
                  border-gray-700
                  hover:bg-gray-400
                "
              >
                <th
                  scope="row"
                  class="px-6 py-4 font-medium whitespace-nowrap text-black"
                >
                    Nenhum item cadastrado
                </th>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                  -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                  -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
              </tr>
            {% endif %}     
        </tbody>
    </table>
  
    <div class="flex items-center flex-column flex-wrap md:flex-row justify-end pt-2 pb-4 px-4 bg-gray-200">
      {% if user.can_change_statuses %}
      <button
        type="button"
        data-modal-target="value-requests-modal"
        data-modal-toggle="value-requests-modal"
        class="
          text-white
          focus:ring-4
          focus:outline-none
          font-medium
          rounded-lg
          text-sm
          px-5
          py-2.5
          text-center
          inline-flex
          items-center
          me-2
          bg-blue-600
          hover:bg-blue-700
          focus:ring-blue-800
        "
      >
        Ver Solicitações
        <svg class="w-[16px] h-[16px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 17.345a4.76 4.76 0 0 0 2.558 1.618c2.274.589 4.512-.446 4.999-2.31.487-1.866-1.273-3.9-3.546-4.49-2.273-.59-4.034-2.623-3.547-4.488.486-1.865 2.724-2.899 4.998-2.31.982.236 1.87.793 2.538 1.592m-3.879 12.171V21m0-18v2.2"/>
        </svg>
      </button>
      {% else %}
      <a
        href="{% url 'contracts:item-request-new-value' contract.id %}"
        class="
          px-3
          py-2
          mr-4
          text-sm
          font-medium
          text-center
          inline-flex
          items-center
          text-white
          rounded-lg
          focus:ring-4
          focus:outline-none
          bg-blue-600
          hover:bg-blue-700
          focus:ring-blue-800
        "
      >
        Remanejar Valores
        <svg class="w-[16px] h-[16px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 17.345a4.76 4.76 0 0 0 2.558 1.618c2.274.589 4.512-.446 4.999-2.31.487-1.866-1.273-3.9-3.546-4.49-2.273-.59-4.034-2.623-3.547-4.488.486-1.865 2.724-2.899 4.998-2.31.982.236 1.87.793 2.538 1.592m-3.879 12.171V21m0-18v2.2"/>
        </svg>
      </a>
      {% endif %}

      {% if user.has_admin_access and contract.is_on_planning %}
        <a
          href="{% url 'contracts:contracts-item-create' contract.id %}"
          class="
            px-3
            py-2
            text-sm
            font-medium
            text-center
            inline-flex
            items-center
            text-white
            rounded-lg
            focus:ring-4
            focus:outline-none
            bg-blue-600
            hover:bg-blue-700
            focus:ring-blue-800
          "
        >
          Adicionar novo item
          <svg class="w-[16px] h-[16px] text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
          </svg>
        </a>
      {% endif %}
    </div>
</div>


{% if user.can_change_statuses %}
<div
  id="value-requests-modal"
  tabindex="-1"
  data-modal-backdrop="static"
  aria-hidden="true"
  class="
    hidden
    overflow-y-auto
    overflow-x-hidden
    fixed
    top-0
    right-0
    left-0
    z-50
    justify-center
    items-center
    w-full
    md:inset-0
    h-[calc(100%-1rem)]
    max-h-full
  "
  >
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative rounded-lg shadow bg-gray-300">
      <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600">
            <h3 class="text-xl font-semibold text-black">
                Solicitações de Remanejamento
            </h3>
            <button
              type="button"
              data-modal-hide="value-requests-modal"
              class="
                end-2.5
                text-black
                hover:bg-gray-600
                hover:text-black
                bg-transparent
                rounded-lg
                text-sm
                w-6
                h-6
                ms-auto
                inline-flex
                justify-center
                items-center
              "
            >
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Fechar modal</span>
            </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5">

          <table class="w-full text-sm text-left rtl:text-right text-center text-gray-400">
            <thead class="text-xs uppercase bg-gray-500 text-white">
              <tr>
                <th scope="col" class="px-6 py-3">
                  Item
                </th>
                <th scope="col" class="px-6 py-3">
                  Aumento
                </th>
                <th scope="col" class="px-6 py-3">
                  Solicitado em
                </th>
                </th>
              </tr>
            </thead>
            <tbody>
              {% if value_requests.all %}
                {% for request in value_requests.all %}
                <tr class="border-b bg-gray-200 border-gray-700 hover:bg-gray-400">
                  <th scope="row" class="px-6 py-4 text-sm text-black">
                    <a
                      href="{% url 'contracts:review-value-requests' request.id %}"
                      class="text-blue-600 hover:underline mr-2 flex items-center" 
                    >
                      {{ request.raise_item.name }}
                    </a>
                  </th>
                  <td class="px-6 py-4 text-xs text-black text-left">
                    Mensal: R$ {{ request.month_raise|intcomma }} <br>
                    Anual: R$ {{ request.anual_raise|intcomma }}
                  </td>
                  <td class="px-6 py-4 text-xs text-black">
                    {{ request.created_at.date }}
                  </td>
                </tr>
                {% endfor %}
              {% else %}
              <tr class="border-b bg-gray-200 border-gray-700 hover:bg-gray-400">
                <th scope="row" class="px-6 py-4 text-sm text-black">
                  Sem solicitações ativas
                </th>
                <td class="px-6 py-4 text-xs text-black text-left">
                  -
                </td>
                <td class="px-6 py-4 text-xs text-black">
                  -
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>

          <div class="my-6">
            <button
              type="button"
              data-modal-hide="value-requests-modal"
              class="
                w-full
                text-white
                bg-gray-700
                hover:bg-gray-800
                focus:ring-4
                focus:outline-none
                focus:ring-gray-300
                font-medium rounded-lg
                text-sm
                px-5
                py-2.5
                text-center
              "
            >
              Fechar
            </button>
          </div>

        </div>
    </div>
  </div>
</div>
{% endif %}