{% extends "base.html" %}

{% block title %}Despesa - Fontes de Despesa{% endblock %}

{% block content %}

{% load humanize %}

<p class="text-3xl mb-4 font-bold">
  Fontes de Despesa
</p>

{% include 'commons/search-bar.html' with placeholder="Pesquisar por nome da fonte..." %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-white uppercase bg-green-50 dark:bg-green-700 dark:text-white">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nome da Fonte <br>
                </th>
                <th scope="col" class="px-6 py-3">
                    Documento (opcional)
                </th>
                <th scope="col" class="px-6 py-3">
                    Prefeitura
                </th>
            </tr>
        </thead>
        <tbody>
            {% if sources %}
              {% for source in sources %}
                <tr class="bg-white border-b dark:bg-green-200 dark:border-gray-700 hover:bg-green-50 dark:hover:bg-green-400">
                    <td class="px-6 py-4 text-base text-gray-900 dark:text-black">
                      {{ source.name }}
                    </td>
                    <td class="px-6 py-4 text-base text-gray-900 dark:text-black">
                      {{ source.document }}
                    </td>
                    <td class="px-6 py-4 text-base text-gray-900 dark:text-black">
                      {{ source.city_hall }}
                    </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr class="bg-white border-b dark:bg-green-200 dark:border-gray-700 hover:bg-green-50 dark:hover:bg-green-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-black">
                    Nenhum resultado encontrado
                </th>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
              </tr>
            {% endif %}     
        </tbody>
    </table>
  
    {% if user.has_admin_access %}
      <div class="flex items-center flex-column flex-wrap md:flex-row justify-end pt-4 px-4 bg-green-200">
        <a
          href="{% url 'accountability:expenses-source-create' %}"
          class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Adicionar nova
          <svg class="w-[16px] h-[16px] text-gray-800 dark:text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
          </svg>
        </a>
      </div>
    {% endif %}
  
    {% include 'commons/paginator.html' with page_obje=page_obj %}

</div>
  
{% endblock %}