{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

  <link rel="shortcut icon" type="image/png" href="https://storage.googleapis.com/sitts-project-media-bucket/logos/blue-favicon-32x32.png" >

  <title>{% block title %}Portal SITTS{% endblock %}</title>
</head>

<body class="flex justify-center inline-block items-center align-center bg-gray-200" style="height: 100vh;">

  <div class="
      w-full
      max-w-sm
      p-4
      border
      rounded-lg
      shadow
      sm:p-6
      md:p-8
      bg-gray-300
      border-gray-400
    "
    >
    <img
      src="https://storage.googleapis.com/sitts-project-media-bucket/logos/banner-colored.png"
      alt="Banner"
      class="mb-6 max-w-60 flex justify-self-center"
    >

    <h5 class="text-xl mb-4 font-medium text-black">
        Definir Nova Senha
        <p class="mt-2 text-sm font-normal text-justify">
          Detectamos que esse é seu primeiro acesso ao sistema. Antes de continuar, defina uma nova senha.
          Essa será sua <b>senha permanente</b> de acesso.
        </p>
    </h5>

      <form method="post">
        {% csrf_token %}

        <div class="mb-2">
            <label for="id_old_password" class="block mb-2 text-sm font-medium text-black">
              Senha Antiga
            </label>
            <input
              type="password"
              name="old_password"
              id="id_old_password"
              placeholder="••••••••"
              class="
                border
                text-sm
                rounded-lg
                focus:ring-blue-500
                focus:border-blue-500
                block
                w-full
                p-2.5
                bg-gray-400
                border-gray-300
                placeholder-gray-600
                text-black
              "
              required
            />
        </div>

        <div class="mb-2">
            <label for="id_new_password1" class="block mb-2 text-sm font-medium text-black">
              Nova Senha
            </label>
            <input
              type="password"
              name="new_password1"
              id="id_new_password1"
              placeholder="••••••••"
              class="
                border
                text-sm
                rounded-lg
                focus:ring-blue-500
                focus:border-blue-500
                block
                w-full
                p-2.5
                bg-gray-400
                border-gray-300
                placeholder-gray-600
                text-black
              "
              required
            />
        </div>

        <div class="mb-4">
            <label for="id_new_password2" class="block mb-2 text-sm font-medium text-black">
              Confirme a Senha
            </label>
            <input
              type="password"
              name="new_password2"
              id="id_new_password2"
              placeholder="••••••••"
              class="
                border
                text-sm
                rounded-lg
                focus:ring-blue-500
                focus:border-blue-500
                block
                w-full
                p-2.5
                bg-gray-400
                border-gray-300
                placeholder-gray-600
                text-black
              "
              required
            />
        </div>

        <div id="alert-requirements" class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-100 border border-blue-300" role="alert">
            <div>
                <ul class="my-1.5 list-disc list-inside font-bold text-xs">
                    <li class="my-1">Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                    <li class="my-1">Sua senha precisa conter pelo menos 8 caracteres.</li>
                    <li class="my-1">Sua senha não pode ser uma senha comumente utilizada.</li>
                    <li class="my-1">Sua senha não pode ser inteiramente numérica.</li>
                </ul>
            </div>
    
            <button
              type="button"
              class="
                ms-auto
                -mx-2
                -my-1.5
                bg-blue-300
                text-white
                rounded-lg
                focus:ring-2
                focus:ring-white
                hover:bg-blue-500
                p-1.5
                inline-flex
                items-center
                justify-center
                h-6
                w-6
              "
              data-dismiss-target="#alert-requirements"
              aria-label="Close"
            >
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
            </button>
    
        </div>

        {% include 'commons/form-errors.html' with form=form error_message="Erro ao atualizar senha" %}

        <button
          type="submit"
          class="
            w-full
            text-white
            focus:ring-4
            focus:outline-none
            font-medium
            rounded-lg
            text-sm
            px-5
            py-2.5
            text-center
            bg-blue-600
            hover:bg-blue-700
            focus:ring-blue-800
            mt-6
          "
        >
            Redefinir Senha
        </button>
    </form>

  </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>


</html>
