{% extends "base.html" %}

{% block title %}Inicio - Portal SITTS{% endblock %}

{% block content %}

<section class="pt-8 lg:pt-32">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative text-center">
      <h1
          class="max-w-2xl mx-auto text-center font-manrope font-bold text-4xl text-gray-900 mb-5 md:text-5xl leading-[50px]">
          Olá <span class="text-blue-600">{{ user.get_full_name }}</span>. Seja bem vindo novamente!
        </h1>
        <div class="border border-blue-600 p-1 w-60 mx-auto rounded-full flex items-center justify-between mb-4">
          <span class="font-inter text-base font-medium text-gray-900 ml-3">
            Acessar meus contratos
          </span>
          <a href="{% url 'contracts:contracts-list' %}" class="w-8 h-8 rounded-full flex justify-center items-center bg-blue-600">
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M2.83398 8.00019L12.9081 8.00019M9.75991 11.778L13.0925 8.44541C13.3023 8.23553 13.4073 8.13059 13.4073 8.00019C13.4073 7.86979 13.3023 7.76485 13.0925 7.55497L9.75991 4.22241"
                stroke="white"
                stroke-width="1.6"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
      </div>
    </div>
</section>

{% comment %} {{ user.recent_notifications  }} {% endcomment %}
{% comment %} <div class="bg-red-300">Outra div</div>  {% endcomment %}

{% endblock %}