{% load humanize %}

<div class="my-4 mx-5">
    <p class="text-2xl mb-2 font-bold text-black">{{ object }}</p>
    <b>Tipo de conta:</b> {{ object.account_type_label }} <br>
    <b>Agência:</b> {{ object.agency|default_if_none:"N/A" }} <br>
    <b>Saldo:</b> R${{ object.balance|intcomma }} <br>
    <b>Origem da Receita:</b> {{ object.origin }}
</div>

<hr class="h-px my-8 border-0 bg-gray-500">

<div class="my-3 mx-5">
    <label class="block mb-2 text-xl font-semibold text-black">Último Extrato:</label>
    <b>Mês de Referência:</b> {{ object.last_statement_update }} <br>
    <a
        href="{% url 'bank:bank-accounts-statement' object.id %}"
    >
        <button
        class="
            mt-2
            px-3
            py-2
            text-sm
            font-medium
            text-center
            inline-flex
            text-white
            rounded-lg
            focus:ring-4
            focus:outline-none
            bg-blue-600
            hover:bg-blue-700
            focus:ring-blue-800
        "
        >
        Conferir Extrato
        </button>
    </a>
</div>

<hr class="h-px my-8 border-0 bg-gray-500">

<label class="block mx-5 mb-2 text-2xl font-bold text-black">Atualizar extrato:</label>

<div class="my-3 mx-5">
    <p class="mb-2">Para atualizar o saldo atual, extrato e transações, suba um novo arquivo com o período posterior ao ultimo extrato.</p>
    <a
        href="{% url 'bank:bank-statements-update' object.id %}"
    >
        <button
        class="
            px-3
            py-2
            text-sm
            font-medium
            text-center
            inline-flex
            text-white
            rounded-lg
            focus:ring-4
            focus:outline-none
            bg-blue-600
            hover:bg-blue-700
            focus:ring-blue-800
        "
        >
        Atualizar
        </button>
    </a>
</div>
