<select
    id="{{ id|default_if_none:'id_nature' }}"
    name="{{ name|default_if_none:'nature' }}"
    class="
    border
    text-sm
    rounded-lg
    block
    w-full p-2.5
    bg-gray-300
    border-gray-600
    text-black
    focus:ring-blue-500
    focus:border-blue-500
    "
    required
>
    <option selected value="">----</option>
    
    <optgroup label="Bens e Materiais permanentes">
        <option value="PERMANENT_GOODS_AND_MATERIALS">
            Bens e Materiais permanentes
        </option>

        <option value="COMPUTER_GOODS_AND_EQUIPMENT">
            Bens e equipamentos de informática
        </option>

        <option value="HOSPITAL_GOODS_AND_EQUIPMENT">
            Bens e equipamentos hospitalares
        </option>
    </optgroup>

    <optgroup label="Combustível">
        <option value="FUEL">
            Combustível
        </option>
    </optgroup>

    <optgroup label="Despesas financeiras e bancárias">
        <option value="BANKING_EXPENSES">
            Despesas bancárias
        </option>

        <option value="BANKING_IOF">
            IOF
        </option>

        <option value="BANKING_IRRF">
            IRRF
        </option>

        <option value="INTEREST">
            Juros
        </option>
    </optgroup>

    <optgroup label="Gêneros Alimentícios">
        <option value="FOODSTUFS">
            Gêneros Alimentícios
        </option>
    </optgroup>

    <optgroup label="Locação de Imóveis">
        <option value="REAL_ESTATE_LEASE">
            Locação de Imóveis
        </option>
    </optgroup>

    <optgroup label="Locações Diversas">
        <option value="AMBULANCES">
            Ambulâncias
        </option>

        <option value="COMPUTER_EQUIPMENT">
            Equipamento de informática
        </option>

        <option value="HOSPITCAL_MEDICAL_EQUIPMENT">
            Equipamento médico hospitalar
        </option>

        <option value="LAUNDRY_LINEN">
            Lavanderia e enxoval
        </option>

        <option value="CAR_LEASE">
            Locação de Carro
        </option>

        <option value="MISCELLANOUS_LEASES">
            Locações Diversas
        </option>

        <option value="SOFTWARE_SYSTEM">
            Sistema de software
        </option>
    </optgroup>

    <optgroup label="Material Médico e Hospitalar">
        <option value="MEDICAL_HOSPITAL_SUPPLIES">
            Material Médico e Hospitalar
        </option>
    </optgroup>

    <optgroup label="Medicamentos">
        <option value="MEDICINES">
            Medicamentos
        </option>
    </optgroup>

    <optgroup label="Obras">
        <option value="WORKS">
            Obras
        </option>
    </optgroup>

    <optgroup label="Outras despesas">
        <option value="OTHER_ADMINISTRATIVE_EXPENSES">
            Despesas Administrativas
        </option>

        <option value="RETURN_OF_FUNDS">
            Devolução de Recurso ao Órgão Concedente
        </option>

        <option value="PARKING_DRIVING_TAXI">
            Estacionamento/condução/táxi
        </option>

        <option value="IPTU">
            IPTU
        </option>

        <option value="TAXES_FEES_CONTRIBUTIONS">
            Impostos, Taxas e Contribuições
        </option>

        <option value="OTHER_EXPENSES">
            Outras despesas - Diversos
        </option>

        <option value="INSURANCE">
            Seguros
        </option>

        <option value="TRAVEL_TICKET_STAY">
            Viagens (passagem, hospedagem)
        </option>
    </optgroup>

    <optgroup label="Outros Materiais de Consumo">
        <option value="COOKING_GAS">
            Gás de Cozinha
        </option>

        <option value="COMPUTER_SUPPLIES">
            Materiais de Informática
        </option>

        <option value="MATERIALS_FOR_SMALL_REPAIRS">
            Materiais para Pequenos Reparos
        </option>

        <option value="EDUCATIONAL_MATERIAL">
            Material Pedagógico
        </option>

        <option value="HYGIENE_CLEANING_SUPPLIES_UNIFORMS">
            Material de Higiene/Limpeza/Uniformes
        </option>

        <option value="SPORTS_EQUIPMENTS">
            Material esportivo
        </option>

        <option value="UTENSILS">
            Utensílios
        </option>

        <option value="OFFICE_SUPPLIES_1">
            Materiais de Expediente
        </option>

        <option value="OFFICE_SUPPLIES_2">
            Material de Escritório
        </option>

        <option value="OFFICE_SUPPLIES_3">
            Material de expediente/correio/fotocópias
        </option>

        <option value="OTHER_CONSUMABLES">
            Outros Materiais de Consumo
        </option>
    </optgroup>

    <optgroup label="Outros Serviços de Terceiros">
        <option value="COMMON_WASTE_COLLECT">
            Coleta de lixo comum
        </option>

        <option value="HOSPITAL_WASTE_COLLECT">
            Coleta de lixo hospitalar
        </option>

        <option value="CONSULTING_LEGAL_ADVICE">
            Consultoria/assessoria jurídica
        </option>

        <option value="CLEANING_MAINTENANCE">
            Limpeza e conservação
        </option>

        <option value="MAINTENANCE_HOSPITAL_EQUIPMENT">
            Manutenção - Equipamento Médico Hospitalar
        </option>

        <option value="MAINTENANCE_COMPUTER_EQUIPMENT">
            Manutenção - Equipamento de Informática
        </option>

        <option value="MAINTENANCE_BUILDING">
            Manutenção - predial e Imobiliário
        </option>

        <option value="MAINTENANCE_VEHICLE">
            Manutenção de veículos
        </option>

        <option value="CONSTRUCTION">
            Obras
        </option>

        <option value="MAINTENANCE_OTHERS">
            Outras Manutenções
        </option>

        <option value="LEGAL_THIRD_PARTY_SERVICES">
            Outros serviços de terceiros pessoa jurídica
        </option>

        <option value="ADVERTISING_PUBILICITY">
            Publicidade e propaganda
        </option>

        <option value="THERAPEUTIC_SUPPORT_SERVICE">
            Serviço de apoio diagnóstico terapêutico (sadt)
        </option>

        <option value="SERVICES_ACCOUNTING">
            Serviços Contábeis
        </option>

        <option value="SERVICES_AUDITING">
            Serviços de auditoria
        </option>

        <option value="SERVIECS_IT">
            Serviços de tecnologia da informação (TI)
        </option>

        <option value="SERVICES_SURVEILLANCES">
            Vigilância
        </option>
    </optgroup>

    <optgroup label="Recursos Humanos">
        <option value="THIRTHEENTH_SALARY">
            13º Salário
        </option>

        <option value="APPRENTICES">
            Aprendizes
        </option>

        <option value="MEDICAL_ASSISTENCE">
            Assistência médica
        </option>

        <option value="ADVANCE_NOTICE">
            Aviso prévio
        </option>

        <option value="BENEFITS">
            Benefícios
        </option>

        <option value="INTERNSHIP_ALLOWANCE">
            Bolsa Auxílio - estagiários
        </option>

        <option value="INSS_CONTRIBUTION_SHARE">
            Contribuição ao INSS - Cota Patronal
        </option>

        <option value="PIS_CONTRIBUTION">
            Contribuição ao PIS
        </option>

        <option value="SOCIAL_CONTRIBUTIONS">
            Contribuições Sociais
        </option>

        <option value="COURSES_TRAINING_RETRAINING">
            Cursos/treinamento/reciclagem
        </option>

        <option value="PERSONNEL_EXPENSES">
            Despesas com Pessoal
        </option>

        <option value="COLLECTIVE_BARGAINING">
            Dissídio coletivo
        </option>

        <option value="SOCIAL_CHARGES">
            Encargos Sociais
        </option>

        <option value="FGTS">
            FGTS
        </option>

        <option value="RESERVE_FUND">
            Fundo de Reserva
        </option>

        <option value="VACATIONS">
            Férias
        </option>

        <option value="BONUSES">
            Gratificações
        </option>

        <option value="HR_INSS">
            INSS
        </option>

        <option value="HR_IRRF">
            IRRF
        </option>

        <option value="COMPENSATIONS">
            Indenizações
        </option>

        <option value="TERMINATION_EMPLOYMENT_CONTRACT">
            Rescisão de Contrato de Trabalho - TRCT
        </option>

        <option value="MISCELLANOUS_WITHHOLDINGS">
            Retenções Diversas
        </option>

        <option value="MANAGEMENT_SALARY">
            Salário diretoria (salários e ordenados)
        </option>

        <option value="SALARIES_AND_WAGES">
            Salários e ordenados (exceto diretoria)
        </option>

        <option value="UNIFORMS">
            Uniformes
        </option>

        <option value="FOOD_VOUCHERS">
            Vale Alimentação
        </option>

        <option value="MEAL_VOUCHERS">
            Vale Refeição
        </option>

        <option value="TRANSPORTATION_VOUCHERS">
            Vale Transporte
        </option>
    </optgroup>

    <optgroup label="Recursos Humanos">
        <option value="INTERN_REMUNERATION">
            Remuneração de Estagiários
        </option>

        <option value="SERVICES_PF_THIRD_PARTIES">
            Serviços Prestados por Terceiro - PF
        </option>

        <option value="SERVICES_PJ_THIRD_PARTIES">
            Serviços Prestados por Terceiro - PJ
        </option>
    </optgroup>

    <optgroup label="Serviços médicos">
        <option value="MEDICAL_SERVICES">
            Serviços médicos (*)
        </option>

        <option value="MEDICAL_SERVICES_FOR_INDIVIDUALS">
            Serviços médicos pessoa física
        </option>
    
        <option value="MEDICAL_SERVICES_FOR_ENTITIES">
            Serviços médicos pessoa jurídica
        </option>
    </optgroup>

    <optgroup label="Utilidades Públicas">
        <option value="PUBLIC_ADMINISTRATIVE_EXPENSES">
            Despesas Administrativas
        </option>

        <option value="ELECTRICITY">
            Energia Elétrica
        </option>

        <option value="INTERNET_TV">
            Internet/TV a cabo
        </option>

        <option value="TELEPHONE">
            Telefone
        </option>

        <option value="PUBLIC_UTILITIES">
            Utilidade Publica
        </option>

        <option value="WATER_SEWAGE">
            Água e Esgoto
        </option>
    </optgroup>
</select>
