{% extends "base.html" %}

{% block title %}Prestação - Portal SITTS{% endblock %}

{% block content %}

{% load humanize %}

<p class="text-3xl mb-4 font-bold">
    Atividade Executada
</p>

<!-- Breadcrumb -->
<nav class="flex py-3 text-black" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center">
        <a href="{% url 'home' %}" class="inline-flex items-center text-sm font-medium text-black hover:text-gray-500">
          <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
          </svg>
          Inicio
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="rtl:rotate-180 block w-3 h-3 mx-1 text-black " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <a href="{% url 'contracts:contracts-list' %}" class="ms-1 text-sm font-medium md:ms-2 text-black hover:text-gray-500">Contratos</a>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="rtl:rotate-180  w-3 h-3 mx-1 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <a href="{% url 'contracts:contracts-detail' activity.execution.contract.id %}" class="ms-1 text-sm font-medium md:ms-2 text-black hover:text-gray-500">{{ activity.execution.contract.trailing_code }}</a>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="rtl:rotate-180  w-3 h-3 mx-1 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <a href="{% url 'contracts:executions-detail' activity.execution.id %}" class="ms-1 text-sm font-medium md:ms-2 text-black hover:text-gray-500">Execução {{ activity.execution.month }}/{{ activity.execution.year }}</a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="rtl:rotate-180  w-3 h-3 mx-1 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="ms-1 text-sm font-medium md:ms-2 text-black">Atividade</span>
        </div>
      </li>
    </ol>
</nav>

<form method="post" class="max-w-lg mx-auto">
    {% csrf_token %}

    <label class="block mb-2 text-2xl font-bold text-black">Detalhes da Atividade Desenvolvida</label>

    <div class="mb-3">
        <label for="id_step" class="block mb-2 text-base font-medium text-black">Etapa Relacionada</label>
        {{ form.step }}
        <p id="helper-text-explanation" class="mt-2 text-sm text-gray-400">
          A atividade desenvolvida deve estar relacionada à uma etapa do projeto
        </p>
    </div>

    <div class="mb-3">
        <label for="id_name" class="block mb-2 text-base font-medium text-black">Atividade</label>
        {{ form.name }}
    </div>

    <div class="mb-3">
        <label for="id_description" class="block mb-2 text-base font-medium text-black">Descrição</label>
        {{ form.description }}
    </div>

    <hr class="h-px my-4 border-0 bg-gray-500">
    
    <label class="block mb-2 text-2xl font-bold text-black">Porcentagem Executada</label>

    <div class="flex items-center space-x-4">
      <input
        id="percentage-range" 
        type="range" 
        name="percentage"
        min="0" 
        max="100" 
        value="{{ activity.percentage }}" 
        class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer"
        style="background: linear-gradient(to right, #3b82f6 {{ activity.percentage }}%, #e5e7eb {{ activity.percentage }}%);"
        oninput="updateSlider(this)"
      >
      
      <div class="relative">
        <input 
          id="percentage-input" 
          type="number" 
          min="0" 
          max="100" 
          value="{{ activity.percentage }}""
          class="w-20 border border-gray-300 rounded-lg p-1 text-center focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          oninput="updateInput(this)"
        >
        <span class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500">%</span>
      </div>
    </div>

    {% include 'commons/form-errors.html' with form=form %}

    <button
      type="submit"
      class="
        px-3
        py-2
        mt-5
        text-sm
        font-medium
        text-center
        inline-flex
        items-center
        text-white
        rounded-lg
        focus:ring-4
        focus:outline-none
        bg-blue-600
        hover:bg-blue-700
        focus:ring-blue-800
      "
      style="display: flex; justify-self: center;"
    >
      Atualizar Atividade
    </button>

</form>

<script>
    function updateSlider(range) {
      const value = range.value;
      const percentage = value + "%";
      range.style.background = `linear-gradient(to right, #3b82f6 ${percentage}, #e5e7eb ${percentage})`;
      document.getElementById("percentage-input").value = value;
    }
  
    function updateInput(input) {
      let value = input.value;
      if (value > 100) value = 100;
      if (value < 0) value = 0;
      input.value = value;
      document.getElementById("percentage-range").value = value;
      updateSlider(document.getElementById("percentage-range"));
    }
  </script>
  
{% endblock %}