{% extends "email/base_email.html" %}

{% block content %}
    <p class="header">Olá,</p>
    <p class="content">
        Solicitação de remanejamento de gastos para o contrato <b>{{ contract_name }}</b> revisada por {{ created_by }}.
    </p>
    <ul>
        <li>Diminuir de: {{ downgrade_item }}</li>
        <li>Aumentar em: {{ raise_item }}</li>
        <li>Status: {{ status }}</li>
    </p>
    <p class="content">
        Confira os detalhes clicando no botão abaixo:
    </p>
    <div class="button-container">
        <a
            href="{{ link }}"
            class="button"
            style="color: #ffffff !important; text-align: center; display: inline-block;"
        >
            Ver Contrato
        </a>
    </div>
{% endblock %}